# NoShow - Feature Selection Strategy

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import pyMechkar as pyMechkar
import sklearn
from numpy.random import seed

In [2]:
#random.seed(1)
#random.seed(844)
##random.seed(1065) 'weight 3 '
#random.seed(632)
seed(952)
##seed(500) weight balance

In [3]:
df = pd.read_csv("c:/Users/Mayer/Documents/DataScience/hackathon/train.csv/No Constants.csv")
df.head()

,Label,device_id,timestamp,packet_length,Header_length,TSFT,Flags,Rate,Channel,dBm_Antenna_Noise,...,Destination_address,Source_address,BSS_Id,Sequence_number,Tagged_parameters_bytes,SSID,Supported_Rates,Current_Channel,MAC_timestamp,TSF_timestamp
0,10,1,1449824329,112,38,0,0,0,0,0,...,00:00:00:00:00:00,c0:ee:fb:00:59:00,00:00:00:00:00:00,0,46,NaN,54.0,NaN,824291256.0,824291256.0
1,10,1,1449826933,112,38,0,0,0,0,0,...,00:00:00:00:00:00,c0:ee:fb:00:59:00,00:00:00:00:00:00,0,46,NaN,54.0,NaN,824291256.0,824291256.0
2,10,1,1449827611,112,38,0,0,0,0,0,...,00:00:00:00:00:00,c0:ee:fb:00:59:00,00:00:00:00:00:00,0,46,NaN,54.0,NaN,824291256.0,824291256.0
3,10,1,1449828140,112,38,0,0,0,0,0,...,00:00:00:00:00:00,c0:ee:fb:00:59:00,00:00:00:00:00:00,0,46,NaN,54.0,NaN,824291256.0,824291256.0
4,10,1,1449829176,112,38,0,0,0,0,0,...,00:00:00:00:00:00,c0:ee:fb:00:59:00,00:00:00:00:00:00,0,46,NaN,54.0,NaN,824291256.0,824291256.0

df[df.columns[2:8]] = df[df.columns[2:8]].astype('int64')
df['cancel_days'] =  df['cancel_days'].astype('category')
df[['quantity','avg_receipt','avg_quantity']] =  df[['quantity','avg_receipt','avg_quantity']].astype('category')
df['NoShow'] = df['NoShow'].astype('int64')
df[df.columns[10:50]] = df[df.columns[10:50]].astype('int64')
df['total_cancel12'] =  df['total_cancel12'].astype('int64')
df[df.columns[55:59]] = df[df.columns[55:59]].astype('category')

df.dtypes[df.columns[1:59]]

mid = df['NoShow']
df.drop(labels=['NoShow'], axis=1, inplace = True)
df.insert(2, 'NoShow', mid)
df

#### One-hot encoding for categorical features

In [4]:
#pip install category_encoders
from category_encoders import OneHotEncoder as enc
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

In [45]:
#enc = OneHotEncoder(handle_unknown='ignore')

In [5]:
enc = enc(verbose=0, cols=None, drop_invariant=False, return_df=True, handle_missing='value', handle_unknown='value', use_cat_names=False)

In [6]:
## remove unnecessary vars
dfenc = df

In [7]:
dfenc.head(3)

,Label,device_id,timestamp,packet_length,Header_length,TSFT,Flags,Rate,Channel,dBm_Antenna_Noise,...,Destination_address,Source_address,BSS_Id,Sequence_number,Tagged_parameters_bytes,SSID,Supported_Rates,Current_Channel,MAC_timestamp,TSF_timestamp
0,10,1,1449824329,112,38,0,0,0,0,0,...,00:00:00:00:00:00,c0:ee:fb:00:59:00,00:00:00:00:00:00,0,46,NaN,54.0,NaN,824291256.0,824291256.0
1,10,1,1449826933,112,38,0,0,0,0,0,...,00:00:00:00:00:00,c0:ee:fb:00:59:00,00:00:00:00:00:00,0,46,NaN,54.0,NaN,824291256.0,824291256.0
2,10,1,1449827611,112,38,0,0,0,0,0,...,00:00:00:00:00:00,c0:ee:fb:00:59:00,00:00:00:00:00:00,0,46,NaN,54.0,NaN,824291256.0,824291256.0

In [8]:
dfenc = enc.fit_transform(dfenc)
dfenc.head()

MemoryError:

In [50]:
dfenc.to_csv("c:/Users/Mayer/Documents/DataScience/project/Noshows/NoShow_dfenc.csv",index=False)

In [15]:
# merging Client_Code to dfenc
#Client_Code = df.loc[:,df.columns[0]]
#Client_Code = Client_Code.to_frame()
#dfenc = pd.concat([Client_Code, dfenc], axis=1, sort=False)
#dfenc.head()

In [51]:
## Selecting features
X = df1.loc[:,dfenc.columns[1:87]]
X.head()

,sunday,monday,wednesday,thursday,friday,saturday,time_booked,cancel_days_1,cancel_days_2,cancel_days_3,...,hclust4_2,hclust4_3,hclust4_4,Mclust3_1,Mclust3_2,Mclust3_3,Mclust4_1,Mclust4_2,Mclust4_3,Mclust4_4
0,0,0,0,0,1,0,510,1,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,1,0,1080,0,0,0,...,1,0,0,0,1,0,0,0,1,0
2,0,0,1,0,0,0,640,0,0,0,...,0,1,0,0,0,1,0,0,0,1
3,0,0,1,0,0,0,790,0,0,0,...,0,0,1,0,1,0,0,0,1,0
4,0,0,1,0,0,0,720,0,0,0,...,0,0,1,0,0,1,0,0,0,1

In [52]:
y = dfenc.loc[:,dfenc.columns[0]]
print([X.shape,y.shape])

[(2184, 86), (2184,)]

In [53]:
VarName=enc.get_feature_names()
VarName.remove('NoShow')
VarName

['sunday',
 'monday',
 'wednesday',
 'thursday',
 'friday',
 'saturday',
 'time_booked',
 'cancel_days_1',
 'cancel_days_2',
 'cancel_days_3',
 'cancel_days_4',
 'cancel_days_5',
 'cancel_days_6',
 'cancel_days_7',
 'service_CAL',
 'service_CALC',
 'service_CAS',
 'service_CBAL',
 'service_CCAMO',
 'service_CCO',
 'service_CDPB',
 'service_CFC',
 'service_CHLFH',
 'service_CHLFHC',
 'service_CHLHH',
 'service_CHLHHC',
 'service_CHLPHC',
 'service_CHLPL',
 'service_CMT',
 'service_CON',
 'service_CT',
 'service_CTU',
 'service_FRI',
 'service_MISC',
 'service_SBD',
 'service_SBD5',
 'service_SDUD',
 'service_SHCC',
 'service_SHCM',
 'service_SHCW',
 'service_SMARTBOND',
 'service_SMO',
 'staff_BECKY',
 'staff_HOUSE',
 'staff_JJ',
 'staff_JOANNE',
 'staff_KELLY',
 'staff_SINEAD',
 'Canceled_By_BECKY',
 'Canceled_By_JJ',
 'Canceled_By_JOANNE',
 'Canceled_By_KELLY',
 'Canceled_By_SINEAD',
 'quantity_1',
 'quantity_2',
 'quantity_3',
 'quantity_4',
 'quantity_5',
 'quantity_6',
 'quantity_7',
 'amount',
 'avg_receipt_1',
 'avg_receipt_2',
 'avg_receipt_3',
 'avg_receipt_4',
 'avg_receipt_5',
 'avg_quantity_1',
 'avg_quantity_2',
 'avg_quantity_3',
 'avg_quantity_4',
 'avg_quantity_5',
 'total_cancel12',
 'hclust3_1',
 'hclust3_2',
 'hclust3_3',
 'hclust4_1',
 'hclust4_2',
 'hclust4_3',
 'hclust4_4',
 'Mclust3_1',
 'Mclust3_2',
 'Mclust3_3',
 'Mclust4_1',
 'Mclust4_2',
 'Mclust4_3',
 'Mclust4_4']

In [124]:
# VarSel dataframe
varSel = pd.DataFrame({'Variable':VarName})
varSel

     Variable
0      sunday
1      monday
2   wednesday
3    thursday
4      friday
..        ...
81  Mclust3_3
82  Mclust4_1
83  Mclust4_2
84  Mclust4_3
85  Mclust4_4

[86 rows x 1 columns]

## Univariable Analysis

In [55]:
from importlib import reload
from pyMechkar import analysis

In [56]:
tab1 = analysis.Table1(data=dfenc,y='NoShow')
tab1

Begining analysis...
Factorizing... please wait

C:\Users\Mayer\Anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:277: FutureWarning: Categorical.ravel will return a Categorical object instead of an ndarray in a future version.
  vec = libmissing.isnaobj_old(values.ravel())

[**************************************************************************************
[]
***************************************************************************************
***************************************************************************************

C:\Users\Mayer\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:23: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

[]
------ Finished in 57.29247689247131econds -----

,Variables,Categories,Population,Category_1,Category_0,p_value
0,Individuals,n,2184,171,2013,NaN
1,sunday,0,"2,119.00 ( 97.00%)",159.00 ( 93.00%),"1,960.00 ( 97.40%)",NaN
2,sunday,1,65.00 ( 3.00%),12.00 ( 7.00%),53.00 ( 2.60%),0.003
3,monday,0,"2,183.00 ( 100.00%)",171.00 ( 100.00%),"2,012.00 ( 100.00%)",NaN
4,monday,1,1.00 ( 0.00%),0.00 ( 0.00%),1.00 ( 0.00%),1.000
...,...,...,...,...,...,...
173,Mclust4_2,1,794.00 ( 36.40%),20.00 ( 11.70%),774.00 ( 38.50%),0.000
174,Mclust4_3,0,"1,522.00 ( 69.70%)",160.00 ( 93.60%),"1,362.00 ( 67.70%)",NaN
175,Mclust4_3,1,662.00 ( 30.30%),11.00 ( 6.40%),651.00 ( 32.30%),0.000
176,Mclust4_4,0,"1,912.00 ( 87.50%)",107.00 ( 62.60%),"1,805.00 ( 89.70%)",NaN
177,Mclust4_4,1,272.00 ( 12.50%),64.00 ( 37.40%),208.00 ( 10.30%),0.000

In [57]:
tab1[tab1['p_value']<0.05]

,Variables,Categories,Population,Category_1,Category_0,p_value
2,sunday,1,65.00 ( 3.00%),12.00 ( 7.00%),53.00 ( 2.60%),0.003
17,cancel_days_1,1,134.00 ( 6.10%),134.00 ( 78.40%),0.00 ( 0.00%),0.000
19,cancel_days_2,1,36.00 ( 1.60%),36.00 ( 21.10%),0.00 ( 0.00%),0.000
37,service_CBAL,1,24.00 ( 1.10%),8.00 ( 4.70%),16.00 ( 0.80%),0.000
61,service_CON,1,93.00 ( 4.30%),31.00 ( 18.10%),62.00 ( 3.10%),0.000
81,service_SHCW,1,787.00 ( 36.00%),35.00 ( 20.50%),752.00 ( 37.40%),0.000
95,staff_KELLY,1,322.00 ( 14.70%),36.00 ( 21.10%),286.00 ( 14.20%),0.021
99,Canceled_By_BECKY,1,29.00 ( 1.30%),13.00 ( 7.60%),16.00 ( 0.80%),0.000
101,Canceled_By_JJ,1,93.00 ( 4.30%),48.00 ( 28.10%),45.00 ( 2.20%),0.000
103,Canceled_By_JOANNE,1,17.00 ( 0.80%),8.00 ( 4.70%),9.00 ( 0.40%),0.000
105,Canceled_By_KELLY,1,32.00 ( 1.50%),19.00 ( 11.10%),13.00 ( 0.60%),0.000
107,Canceled_By_SINEAD,1,16.00 ( 0.70%),6.00 ( 3.50%),10.00 ( 0.50%),0.000
111,quantity_2,0,"1,073.00 ( 49.10%)",147.00 ( 86.00%),926.00 ( 46.00%),0.000
121,quantity_7,1,470.00 ( 21.50%),142.00 ( 83.00%),328.00 ( 16.30%),0.000
122,amount,Mean (SD),4.00 ( 1.40),3.60 ( 1.80),4.00 ( 1.30),0.000
165,Mclust3_1,1,456.00 ( 20.90%),76.00 ( 44.40%),380.00 ( 18.90%),0.000
167,Mclust3_2,0,728.00 ( 33.30%),140.00 ( 81.90%),588.00 ( 29.20%),0.000
169,Mclust3_3,1,272.00 ( 12.50%),64.00 ( 37.40%),208.00 ( 10.30%),0.000
171,Mclust4_1,1,456.00 ( 20.90%),76.00 ( 44.40%),380.00 ( 18.90%),0.000
173,Mclust4_2,1,794.00 ( 36.40%),20.00 ( 11.70%),774.00 ( 38.50%),0.000
175,Mclust4_3,1,662.00 ( 30.30%),11.00 ( 6.40%),651.00 ( 32.30%),0.000
177,Mclust4_4,1,272.00 ( 12.50%),64.00 ( 37.40%),208.00 ( 10.30%),0.000

In [59]:
vn1 = tab1.loc[tab1['p_value']<0.05,'Variables'].unique()
print(len(vn1))
vn1

22

array(['sunday', 'cancel_days_1', 'cancel_days_2', 'service_CBAL',
       'service_CON', 'service_SHCW', 'staff_KELLY', 'Canceled_By_BECKY',
       'Canceled_By_JJ', 'Canceled_By_JOANNE', 'Canceled_By_KELLY',
       'Canceled_By_SINEAD', 'quantity_2', 'quantity_7', 'amount',
       'Mclust3_1', 'Mclust3_2', 'Mclust3_3', 'Mclust4_1', 'Mclust4_2',
       'Mclust4_3', 'Mclust4_4'], dtype=object)

We will add these variables to our variable selection table

In [125]:
varSel['Univariable'] = 0
varSel.loc[varSel['Variable'].isin(vn1), 'Univariable'] = 1
varSel

     Variable  Univariable
0      sunday            1
1      monday            0
2   wednesday            0
3    thursday            0
4      friday            0
..        ...          ...
81  Mclust3_3            1
82  Mclust4_1            1
83  Mclust4_2            1
84  Mclust4_3            1
85  Mclust4_4            1

[86 rows x 2 columns]

## Multivariable Analysis

In [126]:
#class_weight = 'balanced'
#class_weight = {0: 0.5, 1: 5}
class_weight = {0: 1, 1: 3}

### Variable Selection using LASSO (L1 penalization)

In [127]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

lassomod = Lasso(alpha=0.01,random_state=1065).fit(X,y)

In [128]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False,  True,  True,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [129]:
varSel['Lasso'] = model.get_support().astype('int64')
varSel

     Variable  Univariable  Lasso
0      sunday            1      0
1      monday            0      0
2   wednesday            0      0
3    thursday            0      0
4      friday            0      0
..        ...          ...    ...
81  Mclust3_3            1      0
82  Mclust4_1            1      0
83  Mclust4_2            1      0
84  Mclust4_3            1      0
85  Mclust4_4            1      0

[86 rows x 3 columns]

### Variable Selection using Ridge (L2 penalization)

In [130]:
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SelectFromModel

ridgemod = Ridge(alpha=0.01,random_state=1065).fit(X,y)

In [131]:
model = SelectFromModel(ridgemod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False,  True,  True,
        True,  True,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [132]:
varSel['Ridge'] = model.get_support().astype('int64')
varSel

     Variable  Univariable  Lasso  Ridge
0      sunday            1      0      0
1      monday            0      0      0
2   wednesday            0      0      0
3    thursday            0      0      0
4      friday            0      0      0
..        ...          ...    ...    ...
81  Mclust3_3            1      0      0
82  Mclust4_1            1      0      0
83  Mclust4_2            1      0      0
84  Mclust4_3            1      0      0
85  Mclust4_4            1      0      0

[86 rows x 4 columns]

### Variable Selection using Naive Bayes

In [133]:
# CNB is particularly suited for imbalanced data sets.
from sklearn.naive_bayes import ComplementNB

nbmod = ComplementNB(norm=True).fit(X,y)

In [134]:
model = SelectFromModel(nbmod, prefit=True)
model.get_support()

array([ True,  True, False, False, False, False, False,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True, False,  True,
        True,  True, False, False,  True,  True, False,  True, False,
       False, False, False,  True,  True,  True,  True,  True,  True,
       False, False, False,  True,  True, False, False, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [135]:
varSel['ComplementNB'] = model.get_support().astype('int64')
varSel

     Variable  Univariable  Lasso  Ridge  ComplementNB
0      sunday            1      0      0             1
1      monday            0      0      0             1
2   wednesday            0      0      0             0
3    thursday            0      0      0             0
4      friday            0      0      0             0
..        ...          ...    ...    ...           ...
81  Mclust3_3            1      0      0             0
82  Mclust4_1            1      0      0             0
83  Mclust4_2            1      0      0             0
84  Mclust4_3            1      0      0             0
85  Mclust4_4            1      0      0             0

[86 rows x 5 columns]

### Variable Selection using Random Forest

In [136]:
from sklearn.ensemble import RandomForestClassifier

rfmod = RandomForestClassifier(class_weight = class_weight,random_state=1065).fit(X, y)
#rfmod = RandomForestClassifier(class_weight = 'balanced').fit(X, y)

C:\Users\Mayer\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [137]:
model = SelectFromModel(rfmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False,  True,  True,  True,
        True, False,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True])

In [138]:
varSel['RandomForest'] = model.get_support().astype('int64')
varSel

     Variable  Univariable  Lasso  Ridge  ComplementNB  RandomForest
0      sunday            1      0      0             1             0
1      monday            0      0      0             1             0
2   wednesday            0      0      0             0             0
3    thursday            0      0      0             0             0
4      friday            0      0      0             0             0
..        ...          ...    ...    ...           ...           ...
81  Mclust3_3            1      0      0             0             0
82  Mclust4_1            1      0      0             0             0
83  Mclust4_2            1      0      0             0             0
84  Mclust4_3            1      0      0             0             0
85  Mclust4_4            1      0      0             0             1

[86 rows x 6 columns]

### Variable Selection using Classification Trees (CART)

In [139]:
from sklearn.tree import DecisionTreeClassifier


cartmod = DecisionTreeClassifier(class_weight=class_weight,random_state=1065).fit(X,y)
#cartmod = DecisionTreeClassifier(class_weight='balanced').fit(X,y)

In [140]:
model = SelectFromModel(cartmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False,  True,  True,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [141]:
varSel['CART'] = model.get_support().astype('int64')
varSel

     Variable  Univariable  Lasso  Ridge  ComplementNB  RandomForest  CART
0      sunday            1      0      0             1             0     0
1      monday            0      0      0             1             0     0
2   wednesday            0      0      0             0             0     0
3    thursday            0      0      0             0             0     0
4      friday            0      0      0             0             0     0
..        ...          ...    ...    ...           ...           ...   ...
81  Mclust3_3            1      0      0             0             0     0
82  Mclust4_1            1      0      0             0             0     0
83  Mclust4_2            1      0      0             0             0     0
84  Mclust4_3            1      0      0             0             0     0
85  Mclust4_4            1      0      0             0             1     0

[86 rows x 7 columns]

### Variable Selection using Nearest Neighbor

KNN does not provide a prediction for the importance or coefficients of variables.

In [142]:
#from sklearn.neighbors import KNeighborsClassifier
#def get_weights(weights):
 #   return {0:1,1:5}
#knnmod = KNeighborsClassifier().fit(X,y)

In [143]:
#model = SelectFromModel(knnmod, prefit=True)
#model.get_support()

In [144]:
#varSel['KNN'] = model.get_support().astype('int64')
#varSel

### Variable Selection using Gradient Boosting classification

In [145]:
from sklearn.ensemble import GradientBoostingClassifier
#sample_weights = np.zeros(len(y))
#sample_weights[y == 0] = 1
#sample_weights[y == 1] = 3

gbmod = GradientBoostingClassifier(random_state=1065).fit(X, y)

In [146]:
model = SelectFromModel(gbmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [147]:
varSel['GradientBoost'] = model.get_support().astype('int64')
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART,GradientBoost
0,sunday,1,0,0,1,0,0,0
1,monday,0,0,0,1,0,0,0
2,wednesday,0,0,0,0,0,0,0
3,thursday,0,0,0,0,0,0,0
4,friday,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
81,Mclust3_3,1,0,0,0,0,0,0
82,Mclust4_1,1,0,0,0,0,0,0
83,Mclust4_2,1,0,0,0,0,0,0
84,Mclust4_3,1,0,0,0,0,0,0
85,Mclust4_4,1,0,0,0,1,0,0

### Variable Selection using ADAboost classification

In [148]:
from sklearn.ensemble import AdaBoostClassifier

adabmod = AdaBoostClassifier(random_state=1065).fit(X, y)

In [149]:
model = SelectFromModel(adabmod, prefit=True)
model.get_support()

array([False, False, False, False, False,  True,  True,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False,  True,  True, False, False,
       False,  True, False, False, False, False, False, False,  True,
       False, False, False, False, False, False,  True,  True, False,
       False,  True, False,  True, False])

In [150]:
varSel['ADAboost'] = model.get_support().astype('int64')
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART,GradientBoost,ADAboost
0,sunday,1,0,0,1,0,0,0,0
1,monday,0,0,0,1,0,0,0,0
2,wednesday,0,0,0,0,0,0,0,0
3,thursday,0,0,0,0,0,0,0,0
4,friday,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
81,Mclust3_3,1,0,0,0,0,0,0,0
82,Mclust4_1,1,0,0,0,0,0,0,1
83,Mclust4_2,1,0,0,0,0,0,0,0
84,Mclust4_3,1,0,0,0,0,0,0,1
85,Mclust4_4,1,0,0,0,1,0,0,0

### Variable Selection using SVM classification

In [151]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

svmmod = LinearSVC(C=0.01, penalty="l1",dual=False, class_weight=class_weight,random_state=1065).fit(X, y)
#svmmod = LinearSVC(C=0.01, penalty="l1",dual=False, class_weight='balanced').fit(X, y)

In [152]:
model = SelectFromModel(svmmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False,  True,  True,  True,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [153]:
varSel['SVM'] = model.get_support().astype('int64')
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART,GradientBoost,ADAboost,SVM
0,sunday,1,0,0,1,0,0,0,0,0
1,monday,0,0,0,1,0,0,0,0,0
2,wednesday,0,0,0,0,0,0,0,0,0
3,thursday,0,0,0,0,0,0,0,0,0
4,friday,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
81,Mclust3_3,1,0,0,0,0,0,0,0,0
82,Mclust4_1,1,0,0,0,0,0,0,1,0
83,Mclust4_2,1,0,0,0,0,0,0,0,0
84,Mclust4_3,1,0,0,0,0,0,0,1,0
85,Mclust4_4,1,0,0,0,1,0,0,0,0

### Summarization and Selection of Variables

In [154]:
varSel['Sum'] =  np.sum(varSel,axis=1)
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART,GradientBoost,ADAboost,SVM,Sum
0,sunday,1,0,0,1,0,0,0,0,0,2
1,monday,0,0,0,1,0,0,0,0,0,1
2,wednesday,0,0,0,0,0,0,0,0,0,0
3,thursday,0,0,0,0,0,0,0,0,0,0
4,friday,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
81,Mclust3_3,1,0,0,0,0,0,0,0,0,1
82,Mclust4_1,1,0,0,0,0,0,0,1,0,2
83,Mclust4_2,1,0,0,0,0,0,0,0,0,1
84,Mclust4_3,1,0,0,0,0,0,0,1,0,2
85,Mclust4_4,1,0,0,0,1,0,0,0,0,2

In [90]:
varSel.to_csv("c:/Users/Mayer/Documents/DataScience/project/Noshows/varSel.csv",index=False)

In [91]:
print('class_weight = balanced')
print(varSel.groupby('Sum')['Variable'].count())

class_weight = balanced
Sum
0    24
1    39
2    13
3     5
4     1
5     2
8     2
Name: Variable, dtype: int64

In [123]:
print('class_weight = {0: 0.5, 1: 5}')
print(varSel.groupby('Sum')['Variable'].count())

class_weight = {0: 0.5, 1: 5}
Sum
0    24
1    39
2    14
3     4
4     1
5     2
8     2
Name: Variable, dtype: int64

In [155]:
print('class_weight = {0: 1, 1: 3}')
print(varSel.groupby('Sum')['Variable'].count())

class_weight = {0: 1, 1: 3}
Sum
0    23
1    39
2    14
3     6
5     2
9     2
Name: Variable, dtype: int64

### I will try runing models with diffrent  thresholds. class_weight = {0: 1, 1: 3} , random_state=1065


#### threshold = 1
#### threshold = 2
#### threshold = 3

In [156]:
#Threshold = 1
varSel1 = varSel[varSel.Sum.between(1,9)]

In [157]:
varNames1 = varSel1['Variable'].tolist()

In [158]:
#df1 = dfenc.loc[:,[dfenc['NoShow'],varNames1]].copy()
df1 = dfenc.loc[:,varNames1].copy()

In [159]:
df1.insert(loc=0 ,column='NoShow',value=dfenc['NoShow'] )
df1

,NoShow,sunday,monday,saturday,time_booked,cancel_days_1,cancel_days_2,cancel_days_3,cancel_days_4,cancel_days_5,...,total_cancel12,hclust3_1,hclust4_4,Mclust3_1,Mclust3_2,Mclust3_3,Mclust4_1,Mclust4_2,Mclust4_3,Mclust4_4
0,1,0,0,0,510,1,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
1,0,0,0,0,1080,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,640,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
3,0,0,0,0,790,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
4,0,0,0,0,720,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,0,0,0,0,850,0,0,0,0,0,...,1,0,1,0,1,0,0,1,0,0
2180,1,0,0,0,1010,1,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
2181,0,0,0,0,950,0,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
2182,0,0,0,0,740,0,0,0,0,0,...,1,1,0,1,0,0,1,0,0,0
2183,0,0,0,0,800,0,0,0,0,0,...,1,0,1,0,1,0,0,1,0,0

In [160]:
df1.to_csv("c:/Users/Mayer/Documents/DataScience/project/Noshows/NoShow_varSel.csv",index=False)

In [670]:
#Threshold = 2
varSel2 = varSel[varSel.Sum.between(2,9)]

In [671]:
varNames2 = varSel2['Variable'].tolist()

In [672]:
df2 = dfenc.loc[:,varNames2].copy()
df2

,sunday,time_booked,cancel_days_1,cancel_days_2,cancel_days_3,cancel_days_4,cancel_days_5,cancel_days_6,cancel_days_7,service_CBAL,...,service_SHCW,Canceled_By_BECKY,Canceled_By_JJ,Canceled_By_JOANNE,Canceled_By_KELLY,Canceled_By_SINEAD,quantity_2,quantity_7,amount,total_cancel12
0,0,720,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,5.382199,0.000000
1,0,1080,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,4.418841,0.000000
2,0,640,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,5.572154,0.693147
3,0,790,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,5.572154,0.693147
4,0,780,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,1,3.583519,0.693147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,0,850,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,3.433987,1.098612
2180,0,600,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,3.931826,1.098612
2181,0,950,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,3.931826,1.098612
2182,0,880,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,3.931826,1.609438
2183,0,800,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,3.931826,1.609438

In [674]:
#Threshold = 3
varSel3 = varSel[varSel.Sum.between(3,9)]

In [675]:
varNames3 = varSel3['Variable'].tolist()

In [676]:
df3 = dfenc.loc[:,varNames3].copy()
df3

,cancel_days_1,cancel_days_2,cancel_days_3,cancel_days_4,cancel_days_5,cancel_days_6,cancel_days_7,Canceled_By_JJ,quantity_2,total_cancel12
0,1,0,0,0,0,0,0,0,0,0.000000
1,0,0,0,0,0,0,1,0,0,0.000000
2,0,0,0,0,0,0,1,0,0,0.693147
3,0,0,0,0,0,0,1,0,0,0.693147
4,0,0,0,0,1,0,0,0,0,0.693147
...,...,...,...,...,...,...,...,...,...,...
2179,0,0,0,0,0,0,1,0,1,1.098612
2180,1,0,0,0,0,0,0,1,1,1.098612
2181,0,0,0,0,0,0,1,0,1,1.098612
2182,0,0,0,0,0,1,0,1,1,1.609438
2183,0,0,0,0,0,0,1,0,1,1.609438

In [678]:
#Threshold = 4
varSel4 = varSel[varSel.Sum.between(4,9)]

In [679]:
varNames4 = varSel4['Variable'].tolist()

In [680]:
df4 = dfenc.loc[:,varNames4].copy()
df4

,cancel_days_1,cancel_days_2,cancel_days_3,cancel_days_4,cancel_days_5,cancel_days_6,cancel_days_7,Canceled_By_JJ
0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
2179,0,0,0,0,0,0,1,0
2180,1,0,0,0,0,0,0,1
2181,0,0,0,0,0,0,1,0
2182,0,0,0,0,0,1,0,1
2183,0,0,0,0,0,0,1,0