# Activism - Feature Selection Strategy

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import pyMechkar as pyMechkar
import sklearn
from numpy.random import seed
import glob
import csv

In [2]:
#random.seed(1)
#random.seed(844)
##random.seed(1065) 'weight 3 '
#random.seed(632)
seed(952)
##seed(500) weight balance

In [3]:
del(df)

NameError: name 'df' is not defined

In [4]:
df = pd.read_csv("c:/Users/Mayer/Documents/DataScience/She Code/Global Activism/SC_FinalFiles/ActivismClusters.csv",encoding='ISO 8859-1')
df.head()

C:\Users\Mayer\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (31,32,49,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Investor.ID,Activist,ActivistHQ,ActivistRegion,Founded,FirstDateInvestedByActivisit,CurrentHolding,StatusCurrent,StatusExisted,DateExited,...,Successful,Unsuccessful,CompromiseOrSettlement,Unresolved,Buyer,Succession,hclust3,hclust4,Mclust3,Mclust4
0,2,Aberdeen Asset Management PLC,64,WestEurope,1983,17169,miss,1,0,miss,...,No,Yes,No,No,miss,0,1,1,3,3
1,2,Aberdeen Asset Management PLC,64,WestEurope,1983,14862,1,1,0,miss,...,Yes,No,No,No,miss,0,1,1,3,3
2,2,Aberdeen Asset Management PLC,64,WestEurope,1983,16695,miss,0,1,2016,...,Yes,No,No,No,8,1,1,1,3,3
3,2,Aberdeen Asset Management PLC,64,WestEurope,1983,15932,miss,1,0,miss,...,No,No,No,No,miss,0,1,1,3,3
4,14,AFL-CIO,68,NorthAmerica,miss,15789,miss,1,0,miss,...,No,Yes,No,No,miss,0,1,1,3,3

In [5]:
df.dtypes

Investor.ID        int64
Activist          object
ActivistHQ        object
ActivistRegion    object
Founded           object
                   ...
Succession         int64
hclust3            int64
hclust4            int64
Mclust3            int64
Mclust4            int64
Length: 189, dtype: object

In [6]:
df.dtypes[df.columns[58:112]]

HitRatioByMC3Y                            float64
NoOfInvByMC                               float64
AvgChangeOverPeriodOfInvByMC              float64
AvgSPReturnByMC                           float64
ConcernedShareholder                        int64
Engagement                                  int64
Occasional                                  int64
PartialFocus                                int64
PrimaryFocus                                int64
ActivistAUM                                object
ActivistAUMDate                            object
Long                                        int64
GainBoardRepresentation                     int64
AdoptMajorityVoteStandard                   int64
AmendByLaw                                  int64
AmendListingStatus                          int64
BoardIndependence                           int64
BusinessFocus                               int64
BusinessRestructuring                       int64
ChangeBoardComposition                      int64
ClosureOfBusinessUnit                       int64
Dividends                                   int64
EliminateStaggeredBoard                     int64
EquityIssuance                              int64
ExcessCash                                  int64
FocusOnGrowthStrategies                     int64
GeneralCostCutting                          int64
LackOfInaccurateInformationFromCompany      int64
OperationalEfficiency                       int64
OpposeAcquisitionOfThirdParty               int64
OpposeEquityIssuance                        int64
OpposeProxyContest                          int64
OpposeSaleOfCompany                         int64
PushForAcquisitionOfThirdParty              int64
PushForCompanyDivision                      int64
PushForSaleOfCompany                        int64
PushForOpposeMergingOfShares                int64
Recapitalization                            int64
RedemptionAmendmentOfPoisonPill             int64
REITorMLPConversion                         int64
RemovalOfCEOorOtherBoardMember              int64
Remuneration                                int64
ReplaceAuditor                              int64
ReplaceManagement                           int64
RestructureDebt                             int64
ReturnCashToShareholders                    int64
SellOrRetainAssets                          int64
SeparateChairmanAndCEO                      int64
ShareRepurchase                             int64
SpinOffSaleOfBusinessDivision               int64
SuccessionPlanning                          int64
TerminateInvestmentAdvisoryAgreement        int64
UnderLeverage                               int64
UseUniversalBallot                          int64
dtype: object

In [7]:
df.columns.get_loc('Buyer') #find col index by name

183

In [8]:
df['SuccessionPlanning']

0       0
1       0
2       0
3       0
4       0
       ..
9294    0
9295    0
9296    0
9297    0
9298    0
Name: SuccessionPlanning, Length: 9299, dtype: int64

In [9]:
df[['StatusCurrent','StatusExisted']] = df[['StatusCurrent','StatusExisted']].astype('category')
df[df.columns[58:112]] = df[df.columns[58:112]].astype('category')

In [10]:
del(df1)
del(dfenc)

NameError: name 'df1' is not defined

In [11]:
df1 =df

In [12]:
df1.head(n=1)

,Investor.ID,Activist,ActivistHQ,ActivistRegion,Founded,FirstDateInvestedByActivisit,CurrentHolding,StatusCurrent,StatusExisted,DateExited,...,Successful,Unsuccessful,CompromiseOrSettlement,Unresolved,Buyer,Succession,hclust3,hclust4,Mclust3,Mclust4
0,2,Aberdeen Asset Management PLC,64,WestEurope,1983,17169,miss,1,0,miss,...,No,Yes,No,No,miss,0,1,1,3,3

In [13]:
# re order columns order so y will the last column
mid = df1['Succession']
df1.drop(labels=['Succession'], axis=1, inplace = True)
df1.insert(188, 'Succession', mid)
df1.head(n=1)

,Investor.ID,Activist,ActivistHQ,ActivistRegion,Founded,FirstDateInvestedByActivisit,CurrentHolding,StatusCurrent,StatusExisted,DateExited,...,Successful,Unsuccessful,CompromiseOrSettlement,Unresolved,Buyer,hclust3,hclust4,Mclust3,Mclust4,Succession
0,2,Aberdeen Asset Management PLC,64,WestEurope,1983,17169,miss,1,0,miss,...,No,Yes,No,No,miss,1,1,3,3,0

#### One-hot encoding for categorical features

In [14]:
#pip install category_encoders
from category_encoders import OneHotEncoder as enc
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

In [15]:
#enc = OneHotEncoder(handle_unknown='ignore')

In [16]:
enc = enc(verbose=0, cols=None, drop_invariant=False, return_df=True, handle_missing='value', handle_unknown='value', use_cat_names=False)

In [17]:
df1.dtypes[df.columns[2:189]]

ActivistHQ                      object
ActivistRegion                  object
Founded                         object
FirstDateInvestedByActivisit    object
CurrentHolding                  object
                                 ...
hclust3                          int64
hclust4                          int64
Mclust3                          int64
Mclust4                          int64
Succession                       int64
Length: 187, dtype: object

In [18]:
df1.select_dtypes(include='object')

,Activist,ActivistHQ,ActivistRegion,Founded,FirstDateInvestedByActivisit,CurrentHolding,DateExited,ExitType,Company,CompanyHQ,...,SeatsGained,SeatsGainedMethod,Ongoing,WithdrewDemands,PartiallySuccessful,Successful,Unsuccessful,CompromiseOrSettlement,Unresolved,Buyer
0,Aberdeen Asset Management PLC,64,WestEurope,1983,17169,miss,miss,miss,Frasers Group plc,UK,...,miss,miss,No,No,No,No,Yes,No,No,miss
1,Aberdeen Asset Management PLC,64,WestEurope,1983,14862,1,miss,miss,Standard Chartered PLC,UK,...,miss,miss,No,No,No,Yes,No,No,No,miss
2,Aberdeen Asset Management PLC,64,WestEurope,1983,16695,miss,2016,12,SABMiller PLC,UK,...,miss,miss,No,No,No,Yes,No,No,No,8
3,Aberdeen Asset Management PLC,64,WestEurope,1983,15932,miss,miss,miss,BHP Group PLC,Australia,...,miss,miss,No,No,No,No,No,No,No,miss
4,AFL-CIO,68,NorthAmerica,miss,15789,miss,miss,miss,Frontier Communications Corporation,US,...,miss,miss,No,No,No,No,Yes,No,No,miss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9294,Beijing Jianye Fengde Investment Consulting Co...,13,FarEast,miss,16771,23.04,miss,miss,China ZhongDi Dairy Holdings Co. Ltd.,China,...,miss,miss,No,Yes,No,No,No,No,No,miss
9295,Roy Eddleman,miss,RestOfTheWorld,miss,17344,miss,miss,miss,Scientific Industries Inc,US,...,miss,miss,Yes,No,No,No,No,No,No,miss
9296,Jonathan Couchman,miss,RestOfTheWorld,miss,miss,miss,miss,miss,Enzon Pharmaceuticals Inc.,US,...,miss,miss,Yes,No,No,No,No,No,No,miss
9297,Lakeview Investment Group & Trading Co LLC,miss,RestOfTheWorld,miss,miss,miss,miss,miss,TESSCO Technologies Incorporated,US,...,miss,miss,Yes,No,No,No,No,No,No,miss
9298,Black Crane Capital,miss,RestOfTheWorld,miss,miss,miss,miss,miss,Emeco Holdings Limited,Australia,...,miss,miss,No,No,No,Yes,Yes,No,No,miss

In [19]:
## remove unnecessary vars
dfenc = df1 #droping vars with to many levels. #I need to quantile those vars
dfenc.drop(labels=['Investor.ID','Activist','Company','PID',"Buyer",'SeatsProposed',
                   'ActivistAUMDate','ActivistAUM','PositiveReturnByMC3Y','CampByMC3Y',
                   'HitRatioByMC','PositiveReturnByMC','CampByMC','MarketCap','AvgSPReturnByIND',
                   'AvgChangeOverPeriodOfInvByIND','NoOfInvByIND','HitRatioByIND3Y',
                   'PositiveReturnByIND','CampByIND','Sector','Industry','PositiveReturnByCamp3Y',
                   'NoOfCamp3Y','HitRatioByAct','ExcessReturnByCamp','PositiveReturnByCamp',
                   'NoOfCamp','SPChangeAnnualisedByCamp','SPChangeByCamp','ReturnAnnualisedByCamp',
                   'ReturnByCamp','LastInv','ExcessReturnByAct','AvgSPReturnAnnualisedByAct','AvgSPReturnByAct',
                   'AvgReturnAnnualisedByAct','AvgChangeOverPeriodOfInvByAct','SPChangeSinceExitByCamp',
                   'PriceChangeSinceExitByCamp','FR_PriceEnd','FR_PriceStart','CompanyHQ'], axis=1, inplace = True)
dfenc.head(n=1)

,ActivistHQ,ActivistRegion,Founded,FirstDateInvestedByActivisit,CurrentHolding,StatusCurrent,StatusExisted,DateExited,ExitType,PID_COUNT,...,PartiallySuccessful,Successful,Unsuccessful,CompromiseOrSettlement,Unresolved,hclust3,hclust4,Mclust3,Mclust4,Succession
0,64,WestEurope,1983,17169,miss,1,0,miss,miss,1,...,No,No,Yes,No,No,1,1,3,3,0

In [20]:
dfenc = enc.fit_transform(dfenc)

In [21]:
dfenc.head()

,ActivistHQ_1,ActivistHQ_2,ActivistHQ_3,ActivistHQ_4,ActivistHQ_5,ActivistHQ_6,ActivistHQ_7,ActivistHQ_8,ActivistHQ_9,ActivistHQ_10,...,Unsuccessful_2,CompromiseOrSettlement_1,CompromiseOrSettlement_2,Unresolved_1,Unresolved_2,hclust3,hclust4,Mclust3,Mclust4,Succession
0,1,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,1,3,3,0
1,1,0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,1,1,3,3,0
2,1,0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,1,1,3,3,1
3,1,0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,1,1,3,3,0
4,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,1,3,3,0

In [22]:
dfenc.to_csv("c:/Users/Mayer/Documents/DataScience/She Code/Global Activism/SC_FinalFiles/Activism_dfenc.csv",index=False)

In [23]:
# merging Client_Code to dfenc
#Client_Code = df.loc[:,df.columns[0]]
#Client_Code = Client_Code.to_frame()
#dfenc = pd.concat([Client_Code, dfenc], axis=1, sort=False)
#dfenc.head()

In [24]:
## Selecting features
X = dfenc.loc[:,dfenc.columns[0:3285]]
X.head()

,ActivistHQ_1,ActivistHQ_2,ActivistHQ_3,ActivistHQ_4,ActivistHQ_5,ActivistHQ_6,ActivistHQ_7,ActivistHQ_8,ActivistHQ_9,ActivistHQ_10,...,Unsuccessful_1,Unsuccessful_2,CompromiseOrSettlement_1,CompromiseOrSettlement_2,Unresolved_1,Unresolved_2,hclust3,hclust4,Mclust3,Mclust4
0,1,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,1,3,3
1,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,1,3,3
2,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,1,3,3
3,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,1,3,3
4,0,1,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,1,3,3

In [25]:
dfenc.columns.get_loc('Succession') #find col index by name

3285

In [26]:
y = dfenc['Succession']
print([X.shape,y.shape])

[(9299, 3285), (9299,)]

In [27]:
# VarSel dataframe
varSel=pd.DataFrame({'Variable':dfenc.columns.values[0:3285]}) #excluding Y variable
varSel

          Variable
0     ActivistHQ_1
1     ActivistHQ_2
2     ActivistHQ_3
3     ActivistHQ_4
4     ActivistHQ_5
...            ...
3280  Unresolved_2
3281       hclust3
3282       hclust4
3283       Mclust3
3284       Mclust4

[3285 rows x 1 columns]

## Univariable Analysis

In [28]:
from importlib import reload
from pyMechkar import analysis

In [29]:
tab1 = analysis.Table1(data=dfenc,y='Succession')
tab1

Begining analysis...
Factorizing... please wait

C:\Users\Mayer\Anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:277: FutureWarning: Categorical.ravel will return a Categorical object instead of an ndarray in a future version.
  vec = libmissing.isnaobj_old(values.ravel())

*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
[]
[**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************

[**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
[]
------ Finished in 11888.156796455383econds -----

,Variables,Categories,Population,Category_0,Category_1,p_value
0,Individuals,n,9299,6979,2320,NaN
1,ActivistHQ_1,0,"8,705.00 ( 93.60%)","6,514.00 ( 93.30%)","2,191.00 ( 94.40%)",NaN
2,ActivistHQ_1,1,594.00 ( 6.40%),465.00 ( 6.70%),129.00 ( 5.60%),0.067
3,ActivistHQ_2,1,"6,483.00 ( 69.70%)","4,706.00 ( 67.40%)","1,777.00 ( 76.60%)",NaN
4,ActivistHQ_2,0,"2,816.00 ( 30.30%)","2,273.00 ( 32.60%)",543.00 ( 23.40%),0.000
...,...,...,...,...,...,...
6571,Mclust3,2,"1,795.00 ( 19.30%)","1,434.00 ( 20.50%)",361.00 ( 15.60%),NaN
6572,Mclust4,3,"4,886.00 ( 52.50%)","3,525.00 ( 50.50%)","1,361.00 ( 58.70%)",NaN
6573,Mclust4,4,"1,557.00 ( 16.70%)","1,261.00 ( 18.10%)",296.00 ( 12.80%),0.000
6574,Mclust4,1,"1,538.00 ( 16.50%)","1,155.00 ( 16.50%)",383.00 ( 16.50%),NaN
6575,Mclust4,2,"1,318.00 ( 14.20%)","1,038.00 ( 14.90%)",280.00 ( 12.10%),NaN

In [30]:
tab1[tab1['p_value']<0.05]

,Variables,Categories,Population,Category_0,Category_1,p_value
4,ActivistHQ_2,0,"2,816.00 ( 30.30%)","2,273.00 ( 32.60%)",543.00 ( 23.40%),0.000
6,ActivistHQ_3,1,273.00 ( 2.90%),226.00 ( 3.20%),47.00 ( 2.00%),0.003
10,ActivistHQ_5,1,514.00 ( 5.50%),411.00 ( 5.90%),103.00 ( 4.40%),0.009
22,ActivistHQ_11,1,283.00 ( 3.00%),239.00 ( 3.40%),44.00 ( 1.90%),0.000
28,ActivistHQ_14,1,126.00 ( 1.40%),106.00 ( 1.50%),20.00 ( 0.90%),0.023
...,...,...,...,...,...,...
6561,Unresolved_2,1,258.00 ( 2.80%),176.00 ( 2.50%),82.00 ( 3.50%),0.012
6563,hclust3,2,"1,899.00 ( 20.40%)","1,418.00 ( 20.30%)",481.00 ( 20.70%),0.003
6566,hclust4,2,"1,690.00 ( 18.20%)","1,258.00 ( 18.00%)",432.00 ( 18.60%),0.007
6570,Mclust3,1,"2,520.00 ( 27.10%)","1,936.00 ( 27.70%)",584.00 ( 25.20%),0.000
6573,Mclust4,4,"1,557.00 ( 16.70%)","1,261.00 ( 18.10%)",296.00 ( 12.80%),0.000

In [35]:
vn1 = tab1.loc[tab1['p_value']<0.05,'Variables'].unique()
print(len(vn1))
vn1

184

array(['ActivistHQ_2', 'ActivistHQ_3', 'ActivistHQ_5', 'ActivistHQ_11',
       'ActivistHQ_14', 'ActivistRegion_1', 'ActivistRegion_2',
       'ActivistRegion_3', 'ActivistRegion_4', 'Founded_2', 'Founded_6',
       'Founded_10', 'Founded_14', 'Founded_15', 'Founded_27',
       'Founded_28', 'Founded_30', 'Founded_39', 'Founded_43',
       'FirstDateInvestedByActivisit_23',
       'FirstDateInvestedByActivisit_26',
       'FirstDateInvestedByActivisit_27',
       'FirstDateInvestedByActivisit_41',
       'FirstDateInvestedByActivisit_80',
       'FirstDateInvestedByActivisit_102',
       'FirstDateInvestedByActivisit_157',
       'FirstDateInvestedByActivisit_334',
       'FirstDateInvestedByActivisit_354',
       'FirstDateInvestedByActivisit_697',
       'FirstDateInvestedByActivisit_914',
       'FirstDateInvestedByActivisit_979',
       'FirstDateInvestedByActivisit_1136',
       'FirstDateInvestedByActivisit_1304',
       'FirstDateInvestedByActivisit_1876',
       'FirstDateInvestedByActivisit_2179',
       'FirstDateInvestedByActivisit_2467',
       'FirstDateInvestedByActivisit_2625', 'CurrentHolding_1',
       'CurrentHolding_2', 'CurrentHolding_3', 'CurrentHolding_4',
       'CurrentHolding_5', 'CurrentHolding_6', 'StatusCurrent_1',
       'StatusCurrent_2', 'StatusExisted_1', 'StatusExisted_2',
       'DateExited_1', 'DateExited_2', 'DateExited_3', 'DateExited_4',
       'DateExited_5', 'DateExited_6', 'DateExited_7', 'DateExited_9',
       'DateExited_10', 'DateExited_11', 'DateExited_13', 'DateExited_14',
       'DateExited_16', 'ExitType_1', 'ExitType_2', 'ExitType_3',
       'ExitType_4', 'ExitType_5', 'ExitType_7', 'ExitType_9',
       'ConpanyRegion_1', 'ConpanyRegion_2', 'ConpanyRegion_3',
       'ConpanyRegion_4', 'Currency_1', 'Currency_3', 'HitRatioByAct3Y',
       'HitRatioByIND', 'CampByIND3Y_1', 'CampByIND3Y_3', 'CampByIND3Y_5',
       'CampByIND3Y_6', 'CampByIND3Y_7', 'PositiveReturnByIND3Y_1',
       'PositiveReturnByIND3Y_2', 'PositiveReturnByIND3Y_3',
       'PositiveReturnByIND3Y_4', 'AvgSPReturnAnnualisedByIND_1',
       'AvgSPReturnAnnualisedByIND_2', 'AvgSPReturnAnnualisedByIND_3',
       'AvgSPReturnAnnualisedByIND_6', 'AvgSPReturnAnnualisedByIND_7',
       'MarketCapCategory_1', 'MarketCapCategory_2',
       'MarketCapCategory_3', 'MarketCapCategory_4', 'HitRatioByMC3Y_1',
       'HitRatioByMC3Y_10', 'HitRatioByMC3Y_17', 'HitRatioByMC3Y_18',
       'HitRatioByMC3Y_23', 'HitRatioByMC3Y_25', 'HitRatioByMC3Y_27',
       'HitRatioByMC3Y_31', 'HitRatioByMC3Y_33', 'HitRatioByMC3Y_35',
       'HitRatioByMC3Y_36', 'HitRatioByMC3Y_37', 'HitRatioByMC3Y_43',
       'HitRatioByMC3Y_44', 'NoOfInvByMC_1', 'NoOfInvByMC_2',
       'NoOfInvByMC_3', 'NoOfInvByMC_4', 'AvgChangeOverPeriodOfInvByMC_1',
       'AvgChangeOverPeriodOfInvByMC_2', 'AvgChangeOverPeriodOfInvByMC_3',
       'AvgChangeOverPeriodOfInvByMC_4', 'AvgSPReturnByMC_1',
       'AvgSPReturnByMC_2', 'AvgSPReturnByMC_3', 'AvgSPReturnByMC_4',
       'ConcernedShareholder_1', 'ConcernedShareholder_2', 'Engagement_1',
       'Engagement_2', 'Occasional_1', 'Occasional_2', 'PrimaryFocus_1',
       'PrimaryFocus_2', 'GainBoardRepresentation_1',
       'GainBoardRepresentation_2', 'AmendByLaw_1', 'AmendByLaw_2',
       'BoardIndependence_1', 'BoardIndependence_2',
       'ChangeBoardComposition_1', 'ChangeBoardComposition_2',
       'LackOfInaccurateInformationFromCompany_1',
       'LackOfInaccurateInformationFromCompany_2',
       'OpposeAcquisitionOfThirdParty_1',
       'OpposeAcquisitionOfThirdParty_2', 'OpposeSaleOfCompany_1',
       'OpposeSaleOfCompany_2', 'RemovalOfCEOorOtherBoardMember_1',
       'RemovalOfCEOorOtherBoardMember_2', 'Remuneration_1',
       'Remuneration_2', 'ReplaceManagement_1', 'ReplaceManagement_2',
       'AGM_1', 'AGM_2', 'ActivistWithdrewDemands_1',
       'ActivistWithdrewDemands_2', 'NA._1', 'NA._2',
       'EGMorSpecialMeeting_1', 'EGMorSpecialMeeting_2', 'ProxyContest_1',
       'ProxyContest_2', 'ActivistExitsStock_1', 'ActivistExitsStock_2',
       'MergerOrTakeover_1', 'MergerOrTakeover_2', 'NoPublicResponse_1',
       'NoPublicResponse_2', 'ShareholderVote_2', 'SeatsGained_1',
       'SeatsGained_2', 'SeatsGained_3', 'SeatsGainedMethod_1',
       'SeatsGainedMethod_2', 'SeatsGainedMethod_3', 'Ongoing_1',
       'Ongoing_2', 'PartiallySuccessful_1', 'PartiallySuccessful_2',
       'Successful_1', 'Successful_2', 'Unsuccessful_1', 'Unsuccessful_2',
       'Unresolved_1', 'Unresolved_2', 'hclust3', 'hclust4', 'Mclust3',
       'Mclust4'], dtype=object)

We will add these variables to our variable selection table

In [32]:
varSel['Univariable'] = 0
varSel.loc[varSel['Variable'].isin(vn1), 'Univariable'] = 1
varSel

          Variable  Univariable
0     ActivistHQ_1            0
1     ActivistHQ_2            1
2     ActivistHQ_3            1
3     ActivistHQ_4            0
4     ActivistHQ_5            1
...            ...          ...
3280  Unresolved_2            1
3281       hclust3            1
3282       hclust4            1
3283       Mclust3            1
3284       Mclust4            1

[3285 rows x 2 columns]

## Multivariable Analysis

In [33]:
#class_weight = 'balanced'
#class_weight = {0: 0.5, 1: 5}
class_weight = {0: 1, 1: 3}

### Variable Selection using LASSO (L1 penalization)

In [36]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

lassomod = Lasso(alpha=0.01,random_state=1065).fit(X,y)

In [37]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([False, False, False, ..., False, False, False])

In [38]:
varSel['Lasso'] = model.get_support().astype('int64')
varSel

          Variable  Univariable  Lasso
0     ActivistHQ_1            0      0
1     ActivistHQ_2            1      0
2     ActivistHQ_3            1      0
3     ActivistHQ_4            0      0
4     ActivistHQ_5            1      0
...            ...          ...    ...
3280  Unresolved_2            1      0
3281       hclust3            1      0
3282       hclust4            1      0
3283       Mclust3            1      0
3284       Mclust4            1      0

[3285 rows x 3 columns]

### Variable Selection using Ridge (L2 penalization)

In [39]:
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SelectFromModel

ridgemod = Ridge(alpha=0.01,random_state=1065).fit(X,y)

In [40]:
model = SelectFromModel(ridgemod, prefit=True)
model.get_support()

array([False, False, False, ..., False, False, False])

In [41]:
varSel['Ridge'] = model.get_support().astype('int64')
varSel

          Variable  Univariable  Lasso  Ridge
0     ActivistHQ_1            0      0      0
1     ActivistHQ_2            1      0      0
2     ActivistHQ_3            1      0      0
3     ActivistHQ_4            0      0      1
4     ActivistHQ_5            1      0      0
...            ...          ...    ...    ...
3280  Unresolved_2            1      0      0
3281       hclust3            1      0      0
3282       hclust4            1      0      0
3283       Mclust3            1      0      0
3284       Mclust4            1      0      0

[3285 rows x 4 columns]

### Variable Selection using Naive Bayes

In [42]:
# CNB is particularly suited for imbalanced data sets.
from sklearn.naive_bayes import ComplementNB

nbmod = ComplementNB(norm=True).fit(X,y)

In [43]:
model = SelectFromModel(nbmod, prefit=True)
model.get_support()

array([False, False, False, ..., False, False, False])

In [44]:
varSel['ComplementNB'] = model.get_support().astype('int64')
varSel

          Variable  Univariable  Lasso  Ridge  ComplementNB
0     ActivistHQ_1            0      0      0             0
1     ActivistHQ_2            1      0      0             0
2     ActivistHQ_3            1      0      0             0
3     ActivistHQ_4            0      0      1             0
4     ActivistHQ_5            1      0      0             0
...            ...          ...    ...    ...           ...
3280  Unresolved_2            1      0      0             0
3281       hclust3            1      0      0             0
3282       hclust4            1      0      0             0
3283       Mclust3            1      0      0             0
3284       Mclust4            1      0      0             0

[3285 rows x 5 columns]

### Variable Selection using Random Forest

In [45]:
from sklearn.ensemble import RandomForestClassifier

rfmod = RandomForestClassifier(class_weight = class_weight,random_state=1065).fit(X, y)
#rfmod = RandomForestClassifier(class_weight = 'balanced').fit(X, y)

C:\Users\Mayer\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [46]:
model = SelectFromModel(rfmod, prefit=True)
model.get_support()

array([ True,  True,  True, ...,  True,  True,  True])

In [47]:
varSel['RandomForest'] = model.get_support().astype('int64')
varSel

          Variable  Univariable  Lasso  Ridge  ComplementNB  RandomForest
0     ActivistHQ_1            0      0      0             0             1
1     ActivistHQ_2            1      0      0             0             1
2     ActivistHQ_3            1      0      0             0             1
3     ActivistHQ_4            0      0      1             0             0
4     ActivistHQ_5            1      0      0             0             1
...            ...          ...    ...    ...           ...           ...
3280  Unresolved_2            1      0      0             0             1
3281       hclust3            1      0      0             0             1
3282       hclust4            1      0      0             0             1
3283       Mclust3            1      0      0             0             1
3284       Mclust4            1      0      0             0             1

[3285 rows x 6 columns]

### Variable Selection using Classification Trees (CART)

In [48]:
from sklearn.tree import DecisionTreeClassifier


cartmod = DecisionTreeClassifier(class_weight=class_weight,random_state=1065).fit(X,y)
#cartmod = DecisionTreeClassifier(class_weight='balanced').fit(X,y)

In [49]:
model = SelectFromModel(cartmod, prefit=True)
model.get_support()

array([ True,  True, False, ...,  True,  True,  True])

In [50]:
varSel['CART'] = model.get_support().astype('int64')
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART
0,ActivistHQ_1,0,0,0,0,1,1
1,ActivistHQ_2,1,0,0,0,1,1
2,ActivistHQ_3,1,0,0,0,1,0
3,ActivistHQ_4,0,0,1,0,0,0
4,ActivistHQ_5,1,0,0,0,1,0
...,...,...,...,...,...,...,...
3280,Unresolved_2,1,0,0,0,1,1
3281,hclust3,1,0,0,0,1,1
3282,hclust4,1,0,0,0,1,1
3283,Mclust3,1,0,0,0,1,1
3284,Mclust4,1,0,0,0,1,1

### Variable Selection using Nearest Neighbor

KNN does not provide a prediction for the importance or coefficients of variables.

In [ ]:
#from sklearn.neighbors import KNeighborsClassifier
#def get_weights(weights):
 #   return {0:1,1:5}
#knnmod = KNeighborsClassifier().fit(X,y)

In [ ]:
#model = SelectFromModel(knnmod, prefit=True)
#model.get_support()

In [ ]:
#varSel['KNN'] = model.get_support().astype('int64')
#varSel

### Variable Selection using Gradient Boosting classification

In [51]:
from sklearn.ensemble import GradientBoostingClassifier
#sample_weights = np.zeros(len(y))
#sample_weights[y == 0] = 1
#sample_weights[y == 1] = 3

gbmod = GradientBoostingClassifier(random_state=1065).fit(X, y)

In [52]:
model = SelectFromModel(gbmod, prefit=True)
model.get_support()

array([False,  True, False, ..., False,  True,  True])

In [53]:
varSel['GradientBoost'] = model.get_support().astype('int64')
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART,GradientBoost
0,ActivistHQ_1,0,0,0,0,1,1,0
1,ActivistHQ_2,1,0,0,0,1,1,1
2,ActivistHQ_3,1,0,0,0,1,0,0
3,ActivistHQ_4,0,0,1,0,0,0,0
4,ActivistHQ_5,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
3280,Unresolved_2,1,0,0,0,1,1,0
3281,hclust3,1,0,0,0,1,1,0
3282,hclust4,1,0,0,0,1,1,0
3283,Mclust3,1,0,0,0,1,1,1
3284,Mclust4,1,0,0,0,1,1,1

### Variable Selection using ADAboost classification

In [54]:
from sklearn.ensemble import AdaBoostClassifier

adabmod = AdaBoostClassifier(random_state=1065).fit(X, y)

In [55]:
model = SelectFromModel(adabmod, prefit=True)
model.get_support()

array([False, False, False, ..., False, False, False])

In [56]:
varSel['ADAboost'] = model.get_support().astype('int64')
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART,GradientBoost,ADAboost
0,ActivistHQ_1,0,0,0,0,1,1,0,0
1,ActivistHQ_2,1,0,0,0,1,1,1,0
2,ActivistHQ_3,1,0,0,0,1,0,0,0
3,ActivistHQ_4,0,0,1,0,0,0,0,0
4,ActivistHQ_5,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
3280,Unresolved_2,1,0,0,0,1,1,0,0
3281,hclust3,1,0,0,0,1,1,0,0
3282,hclust4,1,0,0,0,1,1,0,0
3283,Mclust3,1,0,0,0,1,1,1,0
3284,Mclust4,1,0,0,0,1,1,1,0

### Variable Selection using SVM classification

In [57]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

svmmod = LinearSVC(C=0.01, penalty="l1",dual=False, class_weight=class_weight,random_state=1065).fit(X, y)
#svmmod = LinearSVC(C=0.01, penalty="l1",dual=False, class_weight='balanced').fit(X, y)

In [58]:
model = SelectFromModel(svmmod, prefit=True)
model.get_support()

array([False, False, False, ...,  True, False,  True])

In [59]:
varSel['SVM'] = model.get_support().astype('int64')
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART,GradientBoost,ADAboost,SVM
0,ActivistHQ_1,0,0,0,0,1,1,0,0,0
1,ActivistHQ_2,1,0,0,0,1,1,1,0,0
2,ActivistHQ_3,1,0,0,0,1,0,0,0,0
3,ActivistHQ_4,0,0,1,0,0,0,0,0,0
4,ActivistHQ_5,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
3280,Unresolved_2,1,0,0,0,1,1,0,0,0
3281,hclust3,1,0,0,0,1,1,0,0,0
3282,hclust4,1,0,0,0,1,1,0,0,1
3283,Mclust3,1,0,0,0,1,1,1,0,0
3284,Mclust4,1,0,0,0,1,1,1,0,1

### Summarization and Selection of Variables

In [60]:
varSel['Sum'] =  np.sum(varSel,axis=1)
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART,GradientBoost,ADAboost,SVM,Sum
0,ActivistHQ_1,0,0,0,0,1,1,0,0,0,2
1,ActivistHQ_2,1,0,0,0,1,1,1,0,0,4
2,ActivistHQ_3,1,0,0,0,1,0,0,0,0,2
3,ActivistHQ_4,0,0,1,0,0,0,0,0,0,1
4,ActivistHQ_5,1,0,0,0,1,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
3280,Unresolved_2,1,0,0,0,1,1,0,0,0,3
3281,hclust3,1,0,0,0,1,1,0,0,0,3
3282,hclust4,1,0,0,0,1,1,0,0,1,4
3283,Mclust3,1,0,0,0,1,1,1,0,0,4
3284,Mclust4,1,0,0,0,1,1,1,0,1,5

In [61]:
varSel.to_csv("c:/Users/Mayer/Documents/DataScience/project/Noshows/varSel.csv",index=False)

In [62]:
print('class_weight = balanced')
print(varSel.groupby('Sum')['Variable'].count())

class_weight = balanced
Sum
0     335
1    1472
2    1193
3     179
4      70
5      24
6      10
7       1
8       1
Name: Variable, dtype: int64

In [63]:
print('class_weight = {0: 0.5, 1: 5}')
print(varSel.groupby('Sum')['Variable'].count())

class_weight = {0: 0.5, 1: 5}
Sum
0     335
1    1472
2    1193
3     179
4      70
5      24
6      10
7       1
8       1
Name: Variable, dtype: int64

In [64]:
print('class_weight = {0: 1, 1: 3}')
print(varSel.groupby('Sum')['Variable'].count())

class_weight = {0: 1, 1: 3}
Sum
0     335
1    1472
2    1193
3     179
4      70
5      24
6      10
7       1
8       1
Name: Variable, dtype: int64

### I will try runing models with diffrent  thresholds. class_weight = {0: 1, 1: 3} , random_state=1065


#### threshold = 1
#### threshold = 2
#### threshold = 3

In [65]:
#Threshold = 1
varSel1 = varSel[varSel.Sum.between(1,9)]

In [66]:
varNames1 = varSel1['Variable'].tolist()

In [67]:
#df1 = dfenc.loc[:,[dfenc['NoShow'],varNames1]].copy()
df1 = dfenc.loc[:,varNames1].copy()

In [69]:
df1.insert(loc=0 ,column='Succession',value=dfenc['Succession'] )
df1

,Succession,ActivistHQ_1,ActivistHQ_2,ActivistHQ_3,ActivistHQ_4,ActivistHQ_5,ActivistHQ_6,ActivistHQ_10,ActivistHQ_11,ActivistHQ_12,...,Unsuccessful_1,Unsuccessful_2,CompromiseOrSettlement_1,CompromiseOrSettlement_2,Unresolved_1,Unresolved_2,hclust3,hclust4,Mclust3,Mclust4
0,0,1,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,1,3,3
1,0,1,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,1,3,3
2,1,1,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,1,3,3
3,0,1,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,1,3,3
4,0,0,1,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9294,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,3,4,1,2
9295,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,3,4,1,2
9296,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,1,3,3
9297,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,1,3,3
9298,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,1,2,4

In [70]:
df1.to_csv("c:/Users/Mayer/Documents/DataScience/She Code/Global Activism/SC_FinalFiles/Activism_varSel.csv",index=False)

In [71]:
#Threshold = 2
varSel2 = varSel[varSel.Sum.between(2,9)]

In [72]:
varNames2 = varSel2['Variable'].tolist()

In [73]:
df2 = dfenc.loc[:,varNames2].copy()
df2

,ActivistHQ_1,ActivistHQ_2,ActivistHQ_3,ActivistHQ_5,ActivistHQ_10,ActivistHQ_11,ActivistHQ_12,ActivistHQ_14,ActivistHQ_25,ActivistHQ_37,...,Successful_2,Unsuccessful_1,Unsuccessful_2,CompromiseOrSettlement_1,Unresolved_1,Unresolved_2,hclust3,hclust4,Mclust3,Mclust4
0,1,0,0,0,0,0,0,0,0,0,...,0,1,0,1,1,0,1,1,3,3
1,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,1,1,3,3
2,1,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,1,1,3,3
3,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,1,1,3,3
4,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,1,0,1,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9294,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,3,4,1,2
9295,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,3,4,1,2
9296,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,1,1,3,3
9297,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,1,1,3,3
9298,0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,1,0,1,1,2,4

In [80]:
df2.to_csv("c:/Users/Mayer/Documents/DataScience/She Code/Global Activism/SC_FinalFiles/Activism_varSel2.csv",index=False)

In [74]:
#Threshold = 3
varSel3 = varSel[varSel.Sum.between(3,9)]

In [75]:
varNames3 = varSel3['Variable'].tolist()

In [76]:
df3 = dfenc.loc[:,varNames3].copy()
df3

,ActivistHQ_2,ActivistHQ_14,ActivistRegion_1,ActivistRegion_2,ActivistRegion_3,ActivistRegion_4,Founded_2,Founded_10,Founded_14,Founded_15,...,Successful_1,Successful_2,Unsuccessful_1,Unsuccessful_2,Unresolved_1,Unresolved_2,hclust3,hclust4,Mclust3,Mclust4
0,0,0,1,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,1,3,3
1,0,0,1,0,0,0,0,0,0,0,...,0,1,0,1,1,0,1,1,3,3
2,0,0,1,0,0,0,0,0,0,0,...,0,1,0,1,1,0,1,1,3,3
3,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,1,0,1,1,3,3
4,1,0,0,1,0,0,1,0,0,0,...,1,0,1,0,1,0,1,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9294,0,0,0,0,1,0,1,0,0,0,...,1,0,0,1,1,0,3,4,1,2
9295,0,0,0,0,0,0,1,0,0,0,...,1,0,0,1,1,0,3,4,1,2
9296,0,0,0,0,0,0,1,0,0,0,...,1,0,0,1,1,0,1,1,3,3
9297,0,0,0,0,0,0,1,0,0,0,...,1,0,0,1,1,0,1,1,3,3
9298,0,0,0,0,0,0,1,0,0,0,...,0,1,1,0,1,0,1,1,2,4

In [81]:
df3.to_csv("c:/Users/Mayer/Documents/DataScience/She Code/Global Activism/SC_FinalFiles/Activism_varSel3.csv",index=False)

In [77]:
#Threshold = 4
varSel4 = varSel[varSel.Sum.between(4,9)]

In [78]:
varNames4 = varSel4['Variable'].tolist()

In [79]:
df4 = dfenc.loc[:,varNames4].copy()
df4

,ActivistHQ_2,ActivistRegion_2,Founded_43,FirstDateInvestedByActivisit_23,FirstDateInvestedByActivisit_26,FirstDateInvestedByActivisit_41,FirstDateInvestedByActivisit_43,FirstDateInvestedByActivisit_80,FirstDateInvestedByActivisit_97,FirstDateInvestedByActivisit_102,...,ActivistExitsStock_1,SeatsGained_2,SeatsGained_6,SeatsGainedMethod_2,Successful_1,Successful_2,Unsuccessful_1,hclust4,Mclust3,Mclust4
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,1,3,3
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,3,3
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,3,3
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,1,3,3
4,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9294,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,4,1,2
9295,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,4,1,2
9296,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,3,3
9297,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,3,3
9298,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,2,4

In [82]:
df4.to_csv("c:/Users/Mayer/Documents/DataScience/She Code/Global Activism/SC_FinalFiles/Activism_varSel4.csv",index=False)