# Activism - Feature Selection Strategy

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import pyMechkar as pyMechkar
import sklearn
from numpy.random import seed
import glob
import csv

In [2]:
#random.seed(1)
#random.seed(844)
##random.seed(1065) 'weight 3 '
#random.seed(632)
seed(952)
##seed(500) weight balance

In [40]:
df = pd.read_csv("c:/Users/Mayer/Documents/DataScience/She Code/Global Activism/SC_FinalFiles/ActivismClusters.csv",encoding='ISO 8859-1')
df.head()

C:\Users\Mayer\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (31,32,49,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Investor.ID,Activist,ActivistHQ,ActivistRegion,Founded,FirstDateInvestedByActivisit,CurrentHolding,StatusCurrent,StatusExisted,DateExited,...,Successful,Unsuccessful,CompromiseOrSettlement,Unresolved,Buyer,Succession,hclust3,hclust4,Mclust3,Mclust4
0,2,Aberdeen Asset Management PLC,64,WestEurope,1983,17169,miss,1,0,miss,...,No,Yes,No,No,miss,0,1,1,3,3
1,2,Aberdeen Asset Management PLC,64,WestEurope,1983,14862,1,1,0,miss,...,Yes,No,No,No,miss,0,1,1,3,3
2,2,Aberdeen Asset Management PLC,64,WestEurope,1983,16695,miss,0,1,2016,...,Yes,No,No,No,8,1,1,1,3,3
3,2,Aberdeen Asset Management PLC,64,WestEurope,1983,15932,miss,1,0,miss,...,No,No,No,No,miss,0,1,1,3,3
4,14,AFL-CIO,68,NorthAmerica,miss,15789,miss,1,0,miss,...,No,Yes,No,No,miss,0,1,1,3,3

In [4]:
df.dtypes

Investor.ID        int64
Activist          object
ActivistHQ        object
ActivistRegion    object
Founded           object
                   ...
Succession         int64
hclust3            int64
hclust4            int64
Mclust3            int64
Mclust4            int64
Length: 189, dtype: object

In [183]:
df.dtypes[df.columns[58:112]]

HitRatioByMC3Y                            float64
NoOfInvByMC                               float64
AvgChangeOverPeriodOfInvByMC              float64
AvgSPReturnByMC                           float64
ConcernedShareholder                      float64
Engagement                                float64
Occasional                                float64
PartialFocus                              float64
PrimaryFocus                              float64
ActivistAUM                               float64
ActivistAUMDate                           float64
Long                                      float64
GainBoardRepresentation                   float64
AdoptMajorityVoteStandard                 float64
AmendByLaw                                float64
AmendListingStatus                        float64
BoardIndependence                         float64
BusinessFocus                             float64
BusinessRestructuring                     float64
ChangeBoardComposition                    float64
ClosureOfBusinessUnit                     float64
Dividends                                 float64
EliminateStaggeredBoard                   float64
EquityIssuance                            float64
ExcessCash                                float64
FocusOnGrowthStrategies                   float64
GeneralCostCutting                        float64
LackOfInaccurateInformationFromCompany    float64
OperationalEfficiency                     float64
OpposeAcquisitionOfThirdParty             float64
OpposeEquityIssuance                      float64
OpposeProxyContest                        float64
OpposeSaleOfCompany                       float64
PushForAcquisitionOfThirdParty            float64
PushForCompanyDivision                    float64
PushForSaleOfCompany                      float64
PushForOpposeMergingOfShares              float64
Recapitalization                          float64
RedemptionAmendmentOfPoisonPill           float64
REITorMLPConversion                       float64
RemovalOfCEOorOtherBoardMember            float64
Remuneration                              float64
ReplaceAuditor                            float64
ReplaceManagement                         float64
RestructureDebt                           float64
ReturnCashToShareholders                  float64
SellOrRetainAssets                        float64
SeparateChairmanAndCEO                    float64
ShareRepurchase                           float64
SpinOffSaleOfBusinessDivision             float64
SuccessionPlanning                        float64
TerminateInvestmentAdvisoryAgreement      float64
UnderLeverage                             float64
UseUniversalBallot                        float64
dtype: object

In [131]:
df.columns.get_loc('Buyer') #find col index by name

183

In [5]:
df['SuccessionPlanning']

0       0
1       0
2       0
3       0
4       0
       ..
9294    0
9295    0
9296    0
9297    0
9298    0
Name: SuccessionPlanning, Length: 9299, dtype: int64

In [41]:
df[['StatusCurrent','StatusExisted']] = df[['StatusCurrent','StatusExisted']].astype('category')
df[df.columns[185:189]] =  df[df.columns[185:189]].astype('category')
df[df.columns[58:112]] = df[df.columns[58:112]].astype('category')

In [37]:
del(df1)

In [42]:
df1 =df

In [44]:
# re order columns order so y will the last column
mid = df1['Succession']
df1.drop(labels=['Succession'], axis=1, inplace = True)
df1.insert(188, 'Succession', mid)
df1.head(n=1)

,Investor.ID,Activist,ActivistHQ,ActivistRegion,Founded,FirstDateInvestedByActivisit,CurrentHolding,StatusCurrent,StatusExisted,DateExited,...,Successful,Unsuccessful,CompromiseOrSettlement,Unresolved,Buyer,hclust3,hclust4,Mclust3,Mclust4,Succession
0,2,Aberdeen Asset Management PLC,64,WestEurope,1983,17169,miss,1,0,miss,...,No,Yes,No,No,miss,1,1,3,3,0

#### One-hot encoding for categorical features

In [9]:
#pip install category_encoders
from category_encoders import OneHotEncoder as enc
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

In [45]:
#enc = OneHotEncoder(handle_unknown='ignore')

In [46]:
enc = enc(verbose=0, cols=None, drop_invariant=False, return_df=True, handle_missing='value', handle_unknown='value', use_cat_names=False)

In [44]:
df.dtypes[df.columns[2:20]]

ActivistHQ                        object
ActivistRegion                    object
Founded                           object
FirstDateInvestedByActivisit      object
CurrentHolding                    object
StatusCurrent                   category
StatusExisted                   category
DateExited                        object
ExitType                          object
Company                           object
PID                                int64
PID_COUNT                          int64
CompanyHQ                         object
ConpanyRegion                     object
Currency                          object
FR_PriceStart                     object
FR_PriceEnd                       object
PriceChangeSinceExitByCamp        object
dtype: object

In [31]:
df1.head(n=1)

,Investor.ID,Activist,ActivistHQ,ActivistRegion,Founded,FirstDateInvestedByActivisit,CurrentHolding,StatusCurrent,StatusExisted,DateExited,...,Successful,Unsuccessful,CompromiseOrSettlement,Unresolved,Buyer,hclust3,hclust4,Mclust3,Mclust4,Succession
0,2,Aberdeen Asset Management PLC,64,WestEurope,1983,17169,miss,1,0,miss,...,No,Yes,No,No,miss,1,1,3,3,0

In [34]:
del(dfenc)

In [47]:
## remove unnecessary vars
dfenc = df1
dfenc.drop(labels=['Investor.ID','Activist','Company','PID',"Buyer"], axis=1, inplace = True)
dfenc.head(n=1)

,ActivistHQ,ActivistRegion,Founded,FirstDateInvestedByActivisit,CurrentHolding,StatusCurrent,StatusExisted,DateExited,ExitType,PID_COUNT,...,PartiallySuccessful,Successful,Unsuccessful,CompromiseOrSettlement,Unresolved,hclust3,hclust4,Mclust3,Mclust4,Succession
0,64,WestEurope,1983,17169,miss,1,0,miss,miss,1,...,No,No,Yes,No,No,1,1,3,3,0

In [ ]:
dfenc = enc.fit_transform(dfenc)

In [40]:
dfenc.head()

,Investor.ID,Activist_1,Activist_2,Activist_3,Activist_4,Activist_5,Activist_6,Activist_7,Activist_8,Activist_9,...,Buyer_351,Buyer_352,Buyer_353,Buyer_354,Buyer_355,hclust3,hclust4,Mclust3,Mclust4,Succession
0,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,3,3,0
1,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,3,3,0
2,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,3,3,1
3,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,3,3,0
4,14,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,3,3,0

In [104]:
dfenc2 = df1[3001:6001]

In [37]:
dfenc2 = enc.fit_transform(dfenc[3001:6001])
dfenc2.head()

NameError: name 'dfenc2' is not defined

In [ ]:
dfenc3 = df1[6001:]

In [ ]:
dfenc3 = enc.fit_transform(dfenc3)
dfenc3.head()

In [50]:
dfenc.to_csv("c:/Users/Mayer/Documents/DataScience/She Code/Global Activism/SC_FinalFiles/Activism_dfenc.csv",index=False)

In [15]:
# merging Client_Code to dfenc
#Client_Code = df.loc[:,df.columns[0]]
#Client_Code = Client_Code.to_frame()
#dfenc = pd.concat([Client_Code, dfenc], axis=1, sort=False)
#dfenc.head()

In [33]:
df.columns.get_loc('Succession') #find col index by name

184

In [45]:
df1.columns.get_loc('Mclust4') #find col index by name

187

In [10]:
## Selecting features
X = df1.loc[:,df1.columns[0:188]]
X.head()

,Investor.ID,Activist,ActivistHQ,ActivistRegion,Founded,FirstDateInvestedByActivisit,CurrentHolding,StatusCurrent,StatusExisted,DateExited,...,PartiallySuccessful,Successful,Unsuccessful,CompromiseOrSettlement,Unresolved,Buyer,hclust3,hclust4,Mclust3,Mclust4
0,2,Aberdeen Asset Management PLC,64,WestEurope,1983,17169,miss,1,0,miss,...,No,No,Yes,No,No,miss,1,1,3,3
1,2,Aberdeen Asset Management PLC,64,WestEurope,1983,14862,1,1,0,miss,...,No,Yes,No,No,No,miss,1,1,3,3
2,2,Aberdeen Asset Management PLC,64,WestEurope,1983,16695,miss,0,1,2016,...,No,Yes,No,No,No,8,1,1,3,3
3,2,Aberdeen Asset Management PLC,64,WestEurope,1983,15932,miss,1,0,miss,...,No,No,No,No,No,miss,1,1,3,3
4,14,AFL-CIO,68,NorthAmerica,miss,15789,miss,1,0,miss,...,No,No,Yes,No,No,miss,1,1,3,3

In [11]:
y = df1['Succession']
print([X.shape,y.shape])

[(9299, 188), (9299,)]

In [27]:
# VarSel dataframe
varSel=pd.DataFrame({'Variable':df.columns.values[0:188]}) #excluding Y variable
varSel

           Variable
0       Investor.ID
1          Activist
2        ActivistHQ
3    ActivistRegion
4           Founded
..              ...
183           Buyer
184         hclust3
185         hclust4
186         Mclust3
187         Mclust4

[188 rows x 1 columns]

## Univariable Analysis

In [25]:
from importlib import reload
from pyMechkar import analysis

In [20]:
tab1 = analysis.Table1(data=df1,y='Succession')
tab1

Begining analysis...
Factorizing... please wait

C:\Users\Mayer\Anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:277: FutureWarning: Categorical.ravel will return a Categorical object instead of an ndarray in a future version.
  vec = libmissing.isnaobj_old(values.ravel())

[********************************************************************************************************************************************************************************************
['The variable Activist is not well defined. This data type is not allowed in Table1... avoided', 'The variable ActivistHQ is not well defined. This data type is not allowed in Table1... avoided', 'The variable Founded is not well defined. This data type is not allowed in Table1... avoided', 'The variable FirstDateInvestedByActivisit is not well defined. This data type is not allowed in Table1... avoided', 'The variable DateExited is not well defined. This data type is not allowed in Table1... avoided', 'The variable ExitType is not well defined. This data type is not allowed in Table1... avoided', 'The variable Company is not well defined. This data type is not allowed in Table1... avoided', 'The variable CompanyHQ is not well defined. This data type is not allowed in Table1... avoided', 'The variable Currency is not well defined. This data type is not allowed in Table1... avoided', 'The variable FR_PriceStart is not well defined. This data type is not allowed in Table1... avoided', 'The variable FR_PriceEnd is not well defined. This data type is not allowed in Table1... avoided', 'The variable PriceChangeSinceExitByCamp is not well defined. This data type is not allowed in Table1... avoided', 'The variable SPChangeSinceExitByCamp is not well defined. This data type is not allowed in Table1... avoided', 'The variable AvgChangeOverPeriodOfInvByAct is not well defined. This data type is not allowed in Table1... avoided', 'The variable AvgReturnAnnualisedByAct is not well defined. This data type is not allowed in Table1... avoided', 'The variable AvgSPReturnByAct is not well defined. This data type is not allowed in Table1... avoided', 'The variable AvgSPReturnAnnualisedByAct is not well defined. This data type is not allowed in Table1... avoided', 'The variable ExcessReturnByAct is not well defined. This data type is not allowed in Table1... avoided', 'The variable LastInv is not well defined. This data type is not allowed in Table1... avoided', 'The variable ReturnByCamp is not well defined. This data type is not allowed in Table1... avoided', 'The variable ReturnAnnualisedByCamp is not well defined. This data type is not allowed in Table1... avoided', 'The variable SPChangeByCamp is not well defined. This data type is not allowed in Table1... avoided', 'The variable SPChangeAnnualisedByCamp is not well defined. This data type is not allowed in Table1... avoided', 'The variable NoOfCamp is not well defined. This data type is not allowed in Table1... avoided', 'The variable PositiveReturnByCamp is not well defined. This data type is not allowed in Table1... avoided', 'The variable ExcessReturnByCamp is not well defined. This data type is not allowed in Table1... avoided', 'The variable HitRatioByAct is not well defined. This data type is not allowed in Table1... avoided', 'The variable NoOfCamp3Y is not well defined. This data type is not allowed in Table1... avoided', 'The variable PositiveReturnByCamp3Y is not well defined. This data type is not allowed in Table1... avoided', 'The variable Industry is not well defined. This data type is not allowed in Table1... avoided', 'The variable Sector is not well defined. This data type is not allowed in Table1... avoided', 'The variable CampByIND is not well defined. This data type is not allowed in Table1... avoided', 'The variable PositiveReturnByIND is not well defined. This data type is not allowed in Table1... avoided', 'The variable CampByIND3Y is not well defined. This data type is not allowed in Table1... avoided', 'The variable HitRatioByIND3Y is not well defined. This data type is not allowed in Table1... avoided', 'The variable NoOfInvByIND is not well defined. This data type is not allowed in Table1... avoided', 'The variable AvgChangeOverPeriodOfInvByIND is not well defined. This data type is not allowed in Table1... avoided', 'The variable AvgSPReturnByIND is not well defined. This data type is not allowed in Table1... avoided', 'The variable AvgSPReturnAnnualisedByIND is not well defined. This data type is not allowed in Table1... avoided', 'The variable MarketCap is not well defined. This data type is not allowed in Table1... avoided', 'The variable CampByMC is not well defined. This data type is not allowed in Table1... avoided', 'The variable PositiveReturnByMC is not well defined. This data type is not allowed in Table1... avoided', 'The variable HitRatioByMC is not well defined. This data type is not allowed in Table1... avoided', 'The variable CampByMC3Y is not well defined. This data type is not allowed in Table1... avoided', 'The variable PositiveReturnByMC3Y is not well defined. This data type is not allowed in Table1... avoided', 'The variable SeatsProposed is not well defined. This data type is not allowed in Table1... avoided', 'The variable SeatsGained is not well defined. This data type is not allowed in Table1... avoided', 'The variable Buyer is not well defined. This data type is not allowed in Table1... avoided']
*********************************************************************************************************************************************************************************************
*********************************************************************************************************************************************************************************************

C:\Users\Mayer\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:23: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

['Unable to calcualte the Fisher exact test for variables Activist and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ActivistHQ and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Founded and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables FirstDateInvestedByActivisit and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables DateExited and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ExitType and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Company and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables CompanyHQ and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Currency and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables FR_PriceStart and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables FR_PriceEnd and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables AvgSPReturnByAct and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables AvgSPReturnAnnualisedByAct and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables LastInv and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ReturnByCamp and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ReturnAnnualisedByCamp and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables SPChangeByCamp and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables SPChangeAnnualisedByCamp and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables NoOfCamp and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ExcessReturnByCamp and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables HitRatioByAct and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Industry and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Sector and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables AvgSPReturnByIND and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables MarketCap and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables CampByMC and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables HitRatioByMC and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables HitRatioByMC3Y and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ActivistAUMDate and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ActivistHiresFiresResignations and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables NewCEOAppointed and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ActivistWritesToRegulator and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables CEOorChairmanDeparts and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Bankruptcy and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ProxyAccess and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ShareholderProposal and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ActivistDropsBelowReportingThreshold and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ProxyAdvisorVerdict and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables PoisonPillImplemented and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables LawsuitAgainstActivist and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables LetterToFellowShareholders and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ActivistNomineesAppointedToBoard and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables LetterToBoardOrManagement and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables CompanyRejectsBoardNominations and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ClosedAGM and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ActivistIssuesPublicLetter and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables ActivistLetterToRegulatoryBodies and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables LitigationInitiated and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables SECFiling and Succession... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Buyer and Succession... The p-value may be incorrect']
------ Finished in 156.69769549369812econds -----

,Variables,Categories,Population,Category_0,Category_1,p_value
0,Individuals,n,9299,6979,2320,NaN
1,Investor.ID,Mean (SD),"5,541.60 (1,959.30)","5,508.80 (2,000.00)","5,640.10 (1,827.70)",0.005
2,Investor.ID,Median (IQR),"5,760.00 (5,087.00-6,621.00)","5,760.00 (5,076.00-6,621.00)","5,760.00 (5,125.00-6,614.00)",NaN
4,ActivistRegion,NorthAmerica,"6,795.00 ( 73.10%)","4,966.00 ( 71.20%)","1,829.00 ( 78.80%)",NaN
5,ActivistRegion,WestEurope,"1,150.00 ( 12.40%)",904.00 ( 13.00%),246.00 ( 10.60%),0.000
...,...,...,...,...,...,...
382,Mclust3,2,"1,795.00 ( 19.30%)","1,434.00 ( 20.50%)",361.00 ( 15.60%),NaN
383,Mclust4,3,"4,886.00 ( 52.50%)","3,525.00 ( 50.50%)","1,361.00 ( 58.70%)",NaN
384,Mclust4,4,"1,557.00 ( 16.70%)","1,261.00 ( 18.10%)",296.00 ( 12.80%),0.000
385,Mclust4,1,"1,538.00 ( 16.50%)","1,155.00 ( 16.50%)",383.00 ( 16.50%),NaN
386,Mclust4,2,"1,318.00 ( 14.20%)","1,038.00 ( 14.90%)",280.00 ( 12.10%),NaN

In [21]:
tab1[tab1['p_value']<0.05]

,Variables,Categories,Population,Category_0,Category_1,p_value
1,Investor.ID,Mean (SD),"5,541.60 (1,959.30)","5,508.80 (2,000.00)","5,640.10 (1,827.70)",0.005
5,ActivistRegion,WestEurope,"1,150.00 ( 12.40%)",904.00 ( 13.00%),246.00 ( 10.60%),0.000
10,CurrentHolding,23.04,649.00 ( 7.00%),531.00 ( 7.60%),118.00 ( 5.10%),0.000
16,StatusCurrent,1,"4,529.00 ( 48.70%)","3,789.00 ( 54.30%)",740.00 ( 31.90%),0.000
18,StatusExisted,0,"4,529.00 ( 48.70%)","3,789.00 ( 54.30%)",740.00 ( 31.90%),0.000
19,PID,Mean (SD),"14,054.20 (14,812.40)","14,460.50 (14,856.20)","12,832.20 (14,611.70)",0.000
24,ConpanyRegion,WestEurope,"1,365.00 ( 14.70%)","1,070.00 ( 15.30%)",295.00 ( 12.70%),0.000
27,HitRatioByAct3Y,Mean (SD),0.20 ( 0.30),0.20 ( 0.30),0.30 ( 0.30),0.000
30,HitRatioByIND,Mean (SD),0.30 ( 0.30),0.20 ( 0.30),0.60 ( 0.30),0.000
34,PositiveReturnByIND3Y,1,"1,249.00 ( 13.40%)",708.00 ( 10.10%),541.00 ( 23.30%),0.000
43,MarketCapCategory,Small-Cap,801.00 ( 8.60%),532.00 ( 7.60%),269.00 ( 11.60%),0.000
47,HitRatioByMC3Y,1,574.00 ( 6.20%),313.00 ( 4.50%),261.00 ( 11.20%),0.000
54,NoOfInvByMC,8.02486,801.00 ( 8.60%),532.00 ( 7.60%),269.00 ( 11.60%),0.000
58,AvgChangeOverPeriodOfInvByMC,1.43577,801.00 ( 8.60%),532.00 ( 7.60%),269.00 ( 11.60%),0.000
62,AvgSPReturnByMC,3.74903,801.00 ( 8.60%),532.00 ( 7.60%),269.00 ( 11.60%),0.000
66,ConcernedShareholder,1,975.00 ( 10.50%),790.00 ( 11.30%),185.00 ( 8.00%),0.000
68,Engagement,1,943.00 ( 10.10%),765.00 ( 11.00%),178.00 ( 7.70%),0.000
70,Occasional,1,"1,650.00 ( 17.70%)","1,317.00 ( 18.90%)",333.00 ( 14.40%),0.000
74,PrimaryFocus,1,"3,551.00 ( 38.20%)","2,442.00 ( 35.00%)","1,109.00 ( 47.80%)",0.000
76,ActivistAUM,6351,534.00 ( 5.70%),383.00 ( 5.50%),151.00 ( 6.50%),0.000
83,ActivistAUMDate,18351,"1,151.00 ( 12.40%)",751.00 ( 10.80%),400.00 ( 17.20%),0.000
91,GainBoardRepresentation,1,"2,685.00 ( 28.90%)","2,093.00 ( 30.00%)",592.00 ( 25.50%),0.000
95,AmendByLaw,1,633.00 ( 6.80%),510.00 ( 7.30%),123.00 ( 5.30%),0.001
99,BoardIndependence,1,229.00 ( 2.50%),187.00 ( 2.70%),42.00 ( 1.80%),0.024
105,ChangeBoardComposition,1,347.00 ( 3.70%),277.00 ( 4.00%),70.00 ( 3.00%),0.042
121,LackOfInaccurateInformationFromCompany,1,280.00 ( 3.00%),232.00 ( 3.30%),48.00 ( 2.10%),0.003
125,OpposeAcquisitionOfThirdParty,1,102.00 ( 1.10%),86.00 ( 1.20%),16.00 ( 0.70%),0.040
130,OpposeSaleOfCompany,1,325.00 ( 3.50%),210.00 ( 3.00%),115.00 ( 5.00%),0.000
146,RemovalOfCEOorOtherBoardMember,1,"1,223.00 ( 13.20%)",994.00 ( 14.20%),229.00 ( 9.90%),0.000
148,Remuneration,1,412.00 ( 4.40%),337.00 ( 4.80%),75.00 ( 3.20%),0.001
152,ReplaceManagement,1,81.00 ( 0.90%),70.00 ( 1.00%),11.00 ( 0.50%),0.025
357,SeatsGainedMethod,2,"1,281.00 ( 13.80%)",992.00 ( 14.20%),289.00 ( 12.50%),0.000
360,Ongoing,Yes,392.00 ( 4.20%),322.00 ( 4.60%),70.00 ( 3.00%),0.001
364,PartiallySuccessful,Yes,612.00 ( 6.60%),482.00 ( 6.90%),130.00 ( 5.60%),0.032
366,Successful,Yes,"2,640.00 ( 28.40%)","2,041.00 ( 29.20%)",599.00 ( 25.80%),0.002
368,Unsuccessful,Yes,"2,244.00 ( 24.10%)","1,816.00 ( 26.00%)",428.00 ( 18.40%),0.000
372,Unresolved,Yes,258.00 ( 2.80%),176.00 ( 2.50%),82.00 ( 3.50%),0.012
374,hclust3,2,"1,899.00 ( 20.40%)","1,418.00 ( 20.30%)",481.00 ( 20.70%),0.003
377,hclust4,2,"1,690.00 ( 18.20%)","1,258.00 ( 18.00%)",432.00 ( 18.60%),0.007
381,Mclust3,1,"2,520.00 ( 27.10%)","1,936.00 ( 27.70%)",584.00 ( 25.20%),0.000
384,Mclust4,4,"1,557.00 ( 16.70%)","1,261.00 ( 18.10%)",296.00 ( 12.80%),0.000

In [22]:
vn1 = tab1.loc[tab1['p_value']<0.05,'Variables'].unique()
print(len(vn1))
vn1

41

array(['Investor.ID', 'ActivistRegion', 'CurrentHolding', 'StatusCurrent',
       'StatusExisted', 'PID', 'ConpanyRegion', 'HitRatioByAct3Y',
       'HitRatioByIND', 'PositiveReturnByIND3Y', 'MarketCapCategory',
       'HitRatioByMC3Y', 'NoOfInvByMC', 'AvgChangeOverPeriodOfInvByMC',
       'AvgSPReturnByMC', 'ConcernedShareholder', 'Engagement',
       'Occasional', 'PrimaryFocus', 'ActivistAUM', 'ActivistAUMDate',
       'GainBoardRepresentation', 'AmendByLaw', 'BoardIndependence',
       'ChangeBoardComposition', 'LackOfInaccurateInformationFromCompany',
       'OpposeAcquisitionOfThirdParty', 'OpposeSaleOfCompany',
       'RemovalOfCEOorOtherBoardMember', 'Remuneration',
       'ReplaceManagement', 'SeatsGainedMethod', 'Ongoing',
       'PartiallySuccessful', 'Successful', 'Unsuccessful', 'Unresolved',
       'hclust3', 'hclust4', 'Mclust3', 'Mclust4'], dtype=object)

We will add these variables to our variable selection table

In [28]:
varSel['Univariable'] = 0
varSel.loc[varSel['Variable'].isin(vn1), 'Univariable'] = 1
varSel

           Variable  Univariable
0       Investor.ID            1
1          Activist            0
2        ActivistHQ            0
3    ActivistRegion            1
4           Founded            0
..              ...          ...
183           Buyer            0
184         hclust3            1
185         hclust4            1
186         Mclust3            1
187         Mclust4            1

[188 rows x 2 columns]

## Multivariable Analysis

In [29]:
#class_weight = 'balanced'
#class_weight = {0: 0.5, 1: 5}
class_weight = {0: 1, 1: 3}

### Variable Selection using LASSO (L1 penalization)

In [30]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

lassomod = Lasso(alpha=0.01,random_state=1065).fit(X,y)

ValueError: could not convert string to float: 'Aberdeen Asset Management PLC'

In [128]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False,  True,  True,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [129]:
varSel['Lasso'] = model.get_support().astype('int64')
varSel

     Variable  Univariable  Lasso
0      sunday            1      0
1      monday            0      0
2   wednesday            0      0
3    thursday            0      0
4      friday            0      0
..        ...          ...    ...
81  Mclust3_3            1      0
82  Mclust4_1            1      0
83  Mclust4_2            1      0
84  Mclust4_3            1      0
85  Mclust4_4            1      0

[86 rows x 3 columns]

### Variable Selection using Ridge (L2 penalization)

In [130]:
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SelectFromModel

ridgemod = Ridge(alpha=0.01,random_state=1065).fit(X,y)

In [131]:
model = SelectFromModel(ridgemod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False,  True,  True,
        True,  True,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [132]:
varSel['Ridge'] = model.get_support().astype('int64')
varSel

     Variable  Univariable  Lasso  Ridge
0      sunday            1      0      0
1      monday            0      0      0
2   wednesday            0      0      0
3    thursday            0      0      0
4      friday            0      0      0
..        ...          ...    ...    ...
81  Mclust3_3            1      0      0
82  Mclust4_1            1      0      0
83  Mclust4_2            1      0      0
84  Mclust4_3            1      0      0
85  Mclust4_4            1      0      0

[86 rows x 4 columns]

### Variable Selection using Naive Bayes

In [133]:
# CNB is particularly suited for imbalanced data sets.
from sklearn.naive_bayes import ComplementNB

nbmod = ComplementNB(norm=True).fit(X,y)

In [134]:
model = SelectFromModel(nbmod, prefit=True)
model.get_support()

array([ True,  True, False, False, False, False, False,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True, False,  True,
        True,  True, False, False,  True,  True, False,  True, False,
       False, False, False,  True,  True,  True,  True,  True,  True,
       False, False, False,  True,  True, False, False, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [135]:
varSel['ComplementNB'] = model.get_support().astype('int64')
varSel

     Variable  Univariable  Lasso  Ridge  ComplementNB
0      sunday            1      0      0             1
1      monday            0      0      0             1
2   wednesday            0      0      0             0
3    thursday            0      0      0             0
4      friday            0      0      0             0
..        ...          ...    ...    ...           ...
81  Mclust3_3            1      0      0             0
82  Mclust4_1            1      0      0             0
83  Mclust4_2            1      0      0             0
84  Mclust4_3            1      0      0             0
85  Mclust4_4            1      0      0             0

[86 rows x 5 columns]

### Variable Selection using Random Forest

In [136]:
from sklearn.ensemble import RandomForestClassifier

rfmod = RandomForestClassifier(class_weight = class_weight,random_state=1065).fit(X, y)
#rfmod = RandomForestClassifier(class_weight = 'balanced').fit(X, y)

C:\Users\Mayer\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [137]:
model = SelectFromModel(rfmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False,  True,  True,  True,
        True, False,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True])

In [138]:
varSel['RandomForest'] = model.get_support().astype('int64')
varSel

     Variable  Univariable  Lasso  Ridge  ComplementNB  RandomForest
0      sunday            1      0      0             1             0
1      monday            0      0      0             1             0
2   wednesday            0      0      0             0             0
3    thursday            0      0      0             0             0
4      friday            0      0      0             0             0
..        ...          ...    ...    ...           ...           ...
81  Mclust3_3            1      0      0             0             0
82  Mclust4_1            1      0      0             0             0
83  Mclust4_2            1      0      0             0             0
84  Mclust4_3            1      0      0             0             0
85  Mclust4_4            1      0      0             0             1

[86 rows x 6 columns]

### Variable Selection using Classification Trees (CART)

In [139]:
from sklearn.tree import DecisionTreeClassifier


cartmod = DecisionTreeClassifier(class_weight=class_weight,random_state=1065).fit(X,y)
#cartmod = DecisionTreeClassifier(class_weight='balanced').fit(X,y)

In [140]:
model = SelectFromModel(cartmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False,  True,  True,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [141]:
varSel['CART'] = model.get_support().astype('int64')
varSel

     Variable  Univariable  Lasso  Ridge  ComplementNB  RandomForest  CART
0      sunday            1      0      0             1             0     0
1      monday            0      0      0             1             0     0
2   wednesday            0      0      0             0             0     0
3    thursday            0      0      0             0             0     0
4      friday            0      0      0             0             0     0
..        ...          ...    ...    ...           ...           ...   ...
81  Mclust3_3            1      0      0             0             0     0
82  Mclust4_1            1      0      0             0             0     0
83  Mclust4_2            1      0      0             0             0     0
84  Mclust4_3            1      0      0             0             0     0
85  Mclust4_4            1      0      0             0             1     0

[86 rows x 7 columns]

### Variable Selection using Nearest Neighbor

KNN does not provide a prediction for the importance or coefficients of variables.

In [142]:
#from sklearn.neighbors import KNeighborsClassifier
#def get_weights(weights):
 #   return {0:1,1:5}
#knnmod = KNeighborsClassifier().fit(X,y)

In [143]:
#model = SelectFromModel(knnmod, prefit=True)
#model.get_support()

In [144]:
#varSel['KNN'] = model.get_support().astype('int64')
#varSel

### Variable Selection using Gradient Boosting classification

In [145]:
from sklearn.ensemble import GradientBoostingClassifier
#sample_weights = np.zeros(len(y))
#sample_weights[y == 0] = 1
#sample_weights[y == 1] = 3

gbmod = GradientBoostingClassifier(random_state=1065).fit(X, y)

In [146]:
model = SelectFromModel(gbmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [147]:
varSel['GradientBoost'] = model.get_support().astype('int64')
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART,GradientBoost
0,sunday,1,0,0,1,0,0,0
1,monday,0,0,0,1,0,0,0
2,wednesday,0,0,0,0,0,0,0
3,thursday,0,0,0,0,0,0,0
4,friday,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
81,Mclust3_3,1,0,0,0,0,0,0
82,Mclust4_1,1,0,0,0,0,0,0
83,Mclust4_2,1,0,0,0,0,0,0
84,Mclust4_3,1,0,0,0,0,0,0
85,Mclust4_4,1,0,0,0,1,0,0

### Variable Selection using ADAboost classification

In [148]:
from sklearn.ensemble import AdaBoostClassifier

adabmod = AdaBoostClassifier(random_state=1065).fit(X, y)

In [149]:
model = SelectFromModel(adabmod, prefit=True)
model.get_support()

array([False, False, False, False, False,  True,  True,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False,  True,  True, False, False,
       False,  True, False, False, False, False, False, False,  True,
       False, False, False, False, False, False,  True,  True, False,
       False,  True, False,  True, False])

In [150]:
varSel['ADAboost'] = model.get_support().astype('int64')
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART,GradientBoost,ADAboost
0,sunday,1,0,0,1,0,0,0,0
1,monday,0,0,0,1,0,0,0,0
2,wednesday,0,0,0,0,0,0,0,0
3,thursday,0,0,0,0,0,0,0,0
4,friday,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
81,Mclust3_3,1,0,0,0,0,0,0,0
82,Mclust4_1,1,0,0,0,0,0,0,1
83,Mclust4_2,1,0,0,0,0,0,0,0
84,Mclust4_3,1,0,0,0,0,0,0,1
85,Mclust4_4,1,0,0,0,1,0,0,0

### Variable Selection using SVM classification

In [151]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

svmmod = LinearSVC(C=0.01, penalty="l1",dual=False, class_weight=class_weight,random_state=1065).fit(X, y)
#svmmod = LinearSVC(C=0.01, penalty="l1",dual=False, class_weight='balanced').fit(X, y)

In [152]:
model = SelectFromModel(svmmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False,  True,  True,  True,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [153]:
varSel['SVM'] = model.get_support().astype('int64')
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART,GradientBoost,ADAboost,SVM
0,sunday,1,0,0,1,0,0,0,0,0
1,monday,0,0,0,1,0,0,0,0,0
2,wednesday,0,0,0,0,0,0,0,0,0
3,thursday,0,0,0,0,0,0,0,0,0
4,friday,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
81,Mclust3_3,1,0,0,0,0,0,0,0,0
82,Mclust4_1,1,0,0,0,0,0,0,1,0
83,Mclust4_2,1,0,0,0,0,0,0,0,0
84,Mclust4_3,1,0,0,0,0,0,0,1,0
85,Mclust4_4,1,0,0,0,1,0,0,0,0

### Summarization and Selection of Variables

In [154]:
varSel['Sum'] =  np.sum(varSel,axis=1)
varSel

,Variable,Univariable,Lasso,Ridge,ComplementNB,RandomForest,CART,GradientBoost,ADAboost,SVM,Sum
0,sunday,1,0,0,1,0,0,0,0,0,2
1,monday,0,0,0,1,0,0,0,0,0,1
2,wednesday,0,0,0,0,0,0,0,0,0,0
3,thursday,0,0,0,0,0,0,0,0,0,0
4,friday,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
81,Mclust3_3,1,0,0,0,0,0,0,0,0,1
82,Mclust4_1,1,0,0,0,0,0,0,1,0,2
83,Mclust4_2,1,0,0,0,0,0,0,0,0,1
84,Mclust4_3,1,0,0,0,0,0,0,1,0,2
85,Mclust4_4,1,0,0,0,1,0,0,0,0,2

In [90]:
varSel.to_csv("c:/Users/Mayer/Documents/DataScience/project/Noshows/varSel.csv",index=False)

In [91]:
print('class_weight = balanced')
print(varSel.groupby('Sum')['Variable'].count())

class_weight = balanced
Sum
0    24
1    39
2    13
3     5
4     1
5     2
8     2
Name: Variable, dtype: int64

In [123]:
print('class_weight = {0: 0.5, 1: 5}')
print(varSel.groupby('Sum')['Variable'].count())

class_weight = {0: 0.5, 1: 5}
Sum
0    24
1    39
2    14
3     4
4     1
5     2
8     2
Name: Variable, dtype: int64

In [155]:
print('class_weight = {0: 1, 1: 3}')
print(varSel.groupby('Sum')['Variable'].count())

class_weight = {0: 1, 1: 3}
Sum
0    23
1    39
2    14
3     6
5     2
9     2
Name: Variable, dtype: int64

### I will try runing models with diffrent  thresholds. class_weight = {0: 1, 1: 3} , random_state=1065


#### threshold = 1
#### threshold = 2
#### threshold = 3

In [156]:
#Threshold = 1
varSel1 = varSel[varSel.Sum.between(1,9)]

In [157]:
varNames1 = varSel1['Variable'].tolist()

In [158]:
#df1 = dfenc.loc[:,[dfenc['NoShow'],varNames1]].copy()
df1 = dfenc.loc[:,varNames1].copy()

In [159]:
df1.insert(loc=0 ,column='NoShow',value=dfenc['NoShow'] )
df1

,NoShow,sunday,monday,saturday,time_booked,cancel_days_1,cancel_days_2,cancel_days_3,cancel_days_4,cancel_days_5,...,total_cancel12,hclust3_1,hclust4_4,Mclust3_1,Mclust3_2,Mclust3_3,Mclust4_1,Mclust4_2,Mclust4_3,Mclust4_4
0,1,0,0,0,510,1,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
1,0,0,0,0,1080,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,640,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
3,0,0,0,0,790,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
4,0,0,0,0,720,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,0,0,0,0,850,0,0,0,0,0,...,1,0,1,0,1,0,0,1,0,0
2180,1,0,0,0,1010,1,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
2181,0,0,0,0,950,0,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
2182,0,0,0,0,740,0,0,0,0,0,...,1,1,0,1,0,0,1,0,0,0
2183,0,0,0,0,800,0,0,0,0,0,...,1,0,1,0,1,0,0,1,0,0

In [160]:
df1.to_csv("c:/Users/Mayer/Documents/DataScience/project/Noshows/NoShow_varSel.csv",index=False)

In [670]:
#Threshold = 2
varSel2 = varSel[varSel.Sum.between(2,9)]

In [671]:
varNames2 = varSel2['Variable'].tolist()

In [672]:
df2 = dfenc.loc[:,varNames2].copy()
df2

,sunday,time_booked,cancel_days_1,cancel_days_2,cancel_days_3,cancel_days_4,cancel_days_5,cancel_days_6,cancel_days_7,service_CBAL,...,service_SHCW,Canceled_By_BECKY,Canceled_By_JJ,Canceled_By_JOANNE,Canceled_By_KELLY,Canceled_By_SINEAD,quantity_2,quantity_7,amount,total_cancel12
0,0,720,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,5.382199,0.000000
1,0,1080,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,4.418841,0.000000
2,0,640,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,5.572154,0.693147
3,0,790,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,5.572154,0.693147
4,0,780,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,1,3.583519,0.693147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,0,850,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,3.433987,1.098612
2180,0,600,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,3.931826,1.098612
2181,0,950,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,3.931826,1.098612
2182,0,880,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,3.931826,1.609438
2183,0,800,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,3.931826,1.609438

In [674]:
#Threshold = 3
varSel3 = varSel[varSel.Sum.between(3,9)]

In [675]:
varNames3 = varSel3['Variable'].tolist()

In [676]:
df3 = dfenc.loc[:,varNames3].copy()
df3

,cancel_days_1,cancel_days_2,cancel_days_3,cancel_days_4,cancel_days_5,cancel_days_6,cancel_days_7,Canceled_By_JJ,quantity_2,total_cancel12
0,1,0,0,0,0,0,0,0,0,0.000000
1,0,0,0,0,0,0,1,0,0,0.000000
2,0,0,0,0,0,0,1,0,0,0.693147
3,0,0,0,0,0,0,1,0,0,0.693147
4,0,0,0,0,1,0,0,0,0,0.693147
...,...,...,...,...,...,...,...,...,...,...
2179,0,0,0,0,0,0,1,0,1,1.098612
2180,1,0,0,0,0,0,0,1,1,1.098612
2181,0,0,0,0,0,0,1,0,1,1.098612
2182,0,0,0,0,0,1,0,1,1,1.609438
2183,0,0,0,0,0,0,1,0,1,1.609438

In [678]:
#Threshold = 4
varSel4 = varSel[varSel.Sum.between(4,9)]

In [679]:
varNames4 = varSel4['Variable'].tolist()

In [680]:
df4 = dfenc.loc[:,varNames4].copy()
df4

,cancel_days_1,cancel_days_2,cancel_days_3,cancel_days_4,cancel_days_5,cancel_days_6,cancel_days_7,Canceled_By_JJ
0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
2179,0,0,0,0,0,0,1,0
2180,1,0,0,0,0,0,0,1
2181,0,0,0,0,0,0,1,0
2182,0,0,0,0,0,1,0,1
2183,0,0,0,0,0,0,1,0